Repository jina-ai/finetuner, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/testing, area/setup, area/housekeeping, area/cicd, area/docker, area/core, area/entrypoint

.github/labeler.yml:

area/docs:
  - docs/**/*
  - ./*.md

area/testing:
  - tests/**/*

area/setup:
  - setup.py
  - requirements*
  - MANIFEST.in

area/housekeeping:
  - .github/**/*
  - ./.gitignore
  - ./*.yaml
  - ./*.yml

area/cicd:
  - .github/workflows/**/*

area/docker:
  - Dockerfiles/**/*
  - ./.dockerignore

area/core:
  - finetuner/**/*

area/entrypoint:
  - finetuner/__init__.py

chore: update class arguments
  finetuner/experiment.py
  finetuner/finetuner.py
  finetuner/hubble.py
  finetuner/run.py
Labels: area/core

feat: create `Finetuner`, `Experiment` and `Run` classes (#391)
  .flake8
  finetuner/__init__.py
  finetuner/client/__init__.py
  finetuner/client/base.py
  finetuner/client/client.py
  finetuner/constants.py
  finetuner/experiment.py
  finetuner/finetuner.py
  finetuner/hubble.py
  finetuner/names.py
  finetuner/run.py
  requirements.txt
  setup.cfg
  tests/integration/conftest.py
  tests/unit/conftest.py
  tests/unit/test_hubble.py
  tests/unit/test_runs.py
Labels: area/testing, area/setup, area/core, area/entrypoint

feat: implement basic error handling
  finetuner/client/base.py
  finetuner/client/exception.py
  finetuner/run.py
Labels: area/core

chore: update changelog
  CHANGELOG.md
  finetuner/run.py
Labels: area/docs, area/core

refactor: modify base error
  finetuner/client/base.py
  finetuner/client/exception.py
Labels: area/core

refactor: change error class
  finetuner/client/base.py
  finetuner/client/exception.py
  finetuner/run.py
Labels: area/core

chore: code quality fix
  finetuner/client/base.py
  finetuner/client/exception.py
Labels: area/core

refactor: error class
  finetuner/client/exception.py
Labels: area/core

feat: add error details
  finetuner/client/base.py
  finetuner/client/exception.py
Labels: area/core

feat: implement basic error handling (#394)
  CHANGELOG.md
  finetuner/client/base.py
  finetuner/client/exception.py
  finetuner/run.py
Labels: area/docs, area/core

feat: create complete run config
  finetuner/__init__.py
  finetuner/constants.py
  finetuner/experiment.py
Labels: area/core, area/entrypoint

chore: add changelog
  CHANGELOG.md
  finetuner/experiment.py
Labels: area/docs, area/core

feat: create complete run config (#395)
  CHANGELOG.md
  finetuner/__init__.py
  finetuner/constants.py
  finetuner/experiment.py
Labels: area/docs, area/core, area/entrypoint

test: improve unit testing
  tests/unit/test_client.py
  tests/unit/test_experiments.py
Labels: area/testing

test: add more unit tests
  CHANGELOG.md
  finetuner/finetuner.py
  finetuner/run.py
  tests/constants.py
  tests/unit/conftest.py
  tests/unit/test_experiment.py
  tests/unit/test_finetuner.py
  tests/unit/test_run.py
Labels: area/docs, area/testing, area/core

fix(qabot): hide the slot elements on the docs page
  docs/_templates/page.html
Labels: area/docs

refactor: change mock objects
  finetuner/experiment.py
  finetuner/finetuner.py
  finetuner/run.py
  tests/unit/conftest.py
  tests/unit/mocks.py
  tests/unit/test_client.py
  tests/unit/test_experiment.py
  tests/unit/test_finetuner.py
  tests/unit/test_hubble.py
  tests/unit/test_run.py
Labels: area/testing, area/core

style: fix imports
  tests/unit/conftest.py
  tests/unit/mocks.py
  tests/unit/test_client.py
  tests/unit/test_experiment.py
Labels: area/testing

test: improve unit testing (#396)
  CHANGELOG.md
  finetuner/experiment.py
  finetuner/finetuner.py
  finetuner/run.py
  tests/constants.py
  tests/unit/conftest.py
  tests/unit/mocks.py
  tests/unit/test_client.py
  tests/unit/test_experiment.py
  tests/unit/test_experiments.py
  tests/unit/test_finetuner.py
  tests/unit/test_hubble.py
  tests/unit/test_run.py
  tests/unit/test_runs.py
Labels: area/docs, area/testing, area/core

fix: ci invalid token
  .github/workflows/ci.yml
  finetuner/__init__.py
  finetuner/constants.py
  finetuner/experiment.py
  finetuner/hubble.py
  tests/integration/conftest.py
  tests/unit/mocks.py
  tests/unit/test_experiment.py
Labels: area/testing, area/housekeeping, area/cicd, area/core, area/entrypoint

chore: add changelog
  CHANGELOG.md
Labels: area/docs

style: remove unused line
  finetuner/hubble.py
Labels: area/core

fix: resolve integration tests
  CHANGELOG.md
  finetuner/client/client.py
  finetuner/experiment.py
  finetuner/finetuner.py
  tests/integration/conftest.py
  tests/integration/test_experiments.py
  tests/integration/test_runs.py
Labels: area/docs, area/testing, area/core

refactor: remove list_runs unit test
  tests/unit/test_client.py
Labels: area/testing

chore: upgrade black to 22.3.0
  .github/requirements-test.txt
  .pre-commit-config.yaml
Labels: area/housekeeping

chore: apply black
  finetuner/tuner/keras/losses.py
  finetuner/tuner/paddle/losses.py
Labels: area/core

chore: upgrade black to 22.3.0 (#399)
  .github/requirements-test.txt
  .pre-commit-config.yaml
  finetuner/tuner/keras/losses.py
  finetuner/tuner/paddle/losses.py
Labels: area/housekeeping, area/core

style: edit changelog
  CHANGELOG.md
Labels: area/docs

fix: resolve CI tests (#398)
  .github/workflows/ci.yml
  CHANGELOG.md
  finetuner/__init__.py
  finetuner/client/client.py
  finetuner/constants.py
  finetuner/experiment.py
  finetuner/finetuner.py
  tests/integration/conftest.py
  tests/integration/test_experiments.py
  tests/integration/test_runs.py
  tests/unit/mocks.py
  tests/unit/test_client.py
  tests/unit/test_experiment.py
Labels: area/docs, area/testing, area/housekeeping, area/cicd, area/core, area/entrypoint

docs(tuner): fix typo (#382)
  docs/components/tuner/loss.md
Labels: area/docs

feat: add run logs and adapt get status
  finetuner/client/base.py
  finetuner/client/client.py
  finetuner/constants.py
  finetuner/run.py
  requirements.txt
  tests/unit/mocks.py
Labels: area/testing, area/setup, area/core

chore: add changelog
  CHANGELOG.md
  tests/unit/test_client.py
Labels: area/docs, area/testing

style: remove blank linke
  tests/unit/test_client.py
Labels: area/testing

style: reformat test_client
  tests/unit/test_client.py
Labels: area/testing

style: reformat test_client again
  tests/unit/test_client.py
Labels: area/testing

refactor: change few things
  finetuner/client/base.py
  finetuner/client/client.py
  finetuner/constants.py
  finetuner/run.py
  tests/unit/test_experiment.py
  tests/unit/test_finetuner.py
  tests/unit/test_run.py
Labels: area/testing, area/core

feat: add run logs and adapt get status (#400)
  CHANGELOG.md
  finetuner/client/base.py
  finetuner/client/client.py
  finetuner/constants.py
  finetuner/run.py
  requirements.txt
  tests/unit/mocks.py
  tests/unit/test_client.py
  tests/unit/test_experiment.py
  tests/unit/test_finetuner.py
  tests/unit/test_run.py
Labels: area/docs, area/testing, area/setup, area/core

fix: download_artifact throws error
  finetuner/hubble.py
  tests/integration/conftest.py
  tests/integration/test_runs.py
Labels: area/testing, area/core

chore: update changelog
  CHANGELOG.md
  tests/integration/conftest.py
Labels: area/docs, area/testing

feat: add experiment-related methods to finetuner
  finetuner/__init__.py
  finetuner/finetuner.py
Labels: area/core, area/entrypoint
