Repository jina-ai/finetuner, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/testing, area/setup, area/core, area/entrypoint, area/housekeeping, area/cicd, area/docker, area/script, component/tailor, component/tuner, component/misc

.github/labeler.yml:

# Add 'label1' to any changes within 'example' folder or any subfolders
area/docs:
  - docs/**/*
  - ./*.md

area/testing:
  - tests/**/*

area/setup:
  - setup.py
  - extra-requirements.txt
  - requirements.txt
  - MANIFEST.in
  - fastentrypoints.py

area/core:
  - finetuner/**/*

area/entrypoint:
  - finetuner/__init__.py

area/housekeeping:
  - .github/**/*
  - ./.gitignore
  - ./*.yaml
  - ./*.yml

area/cicd:
  - .github/workflows/**/*

area/docker:
  - Dockerfiles/**/*
  - ./.dockerignore

area/script:
  - script/**/*

component/tailor:
  - finetuner/tailor/**/*

component/tuner:
  - finetuner/tuner/**/*

component/misc:
  - finetuner/*.py

feat: hubble integration (#388)
  .github/workflows/ci.yml
  CHANGELOG.md
  finetuner/__init__.py
  finetuner/client/base.py
  finetuner/client/client.py
  finetuner/constants.py
  requirements.txt
  tests/conftest.py
  tests/constants.py
  tests/integration/conftest.py
  tests/integration/test_experiments.py
  tests/integration/test_runs.py
  tests/resources/run-config.json
  tests/unit/conftest.py
  tests/unit/test_experiments.py
  tests/unit/test_hubble.py
  tests/unit/test_runs.py
Labels: area/docs, area/testing, area/setup, area/core, area/entrypoint, area/housekeeping, area/cicd, component/misc

docs(tracking): update refer links to other docs with utm_source
  docs/_static/source-in-links.js
  docs/conf.py
Labels: area/docs

refactor: add to_json to client; artifact-id changed
  finetuner/client/base.py
  finetuner/client/client.py
  finetuner/constants.py
  requirements.txt
Labels: area/setup, area/core, component/misc

refactor: support several models
  finetuner/client/client.py
Labels: area/core

refactor: return only jsonified dicts
  CHANGELOG.md
  finetuner/client/base.py
  finetuner/client/client.py
  tests/integration/test_experiments.py
  tests/integration/test_runs.py
Labels: area/docs, area/testing, area/core

refactor: remove unused lines
  finetuner/client/client.py
Labels: area/core

refactor: change the constant
  finetuner/client/client.py
  finetuner/constants.py
Labels: area/core, component/misc

refactor: change docstring
  finetuner/client/client.py
Labels: area/core

refactor: modify artifact-id logic; jsonify responses (#390)
  CHANGELOG.md
  finetuner/client/base.py
  finetuner/client/client.py
  finetuner/constants.py
  requirements.txt
  tests/integration/test_experiments.py
  tests/integration/test_runs.py
Labels: area/docs, area/testing, area/setup, area/core, component/misc

for debugging
  finetuner/client/base.py
  finetuner/client/client.py
  requirements.txt
  tests/integration/test_runs.py
Labels: area/testing, area/setup, area/core

docs: setup sphinx project
  docs/Makefile
  docs/make.bat
  docs/requirements.txt
  docs/source/conf.py
  docs/source/index.rst
Labels: area/docs

feat: setup index page why finetuner
  docs/requirements.txt
  docs/source/_static/finetuner-dark.svg
  docs/source/_static/finetuner-light.svg
  docs/source/_static/finetuner-logo-ani.svg
  docs/source/_static/logo-dark.svg
  docs/source/_static/logo-light.svg
  docs/source/api/modules.rst
  docs/source/conf.py
  docs/source/index.md
  docs/source/index.rst
Labels: area/docs

feat: add classes
  finetuner/classes/__init__.py
  finetuner/classes/experiment.py
  finetuner/classes/finetuner.py
  finetuner/classes/run.py
  finetuner/client/base.py
  finetuner/constants.py
Labels: area/core, component/misc

chore: remove unused test
  finetuner/classes/__init__.py
  tests/integration/test_runs.py
Labels: area/testing, area/core

refactor: change retrieving default experiment
  finetuner/classes/finetuner.py
Labels: area/core

chore: fix code quality
  finetuner/classes/__init__.py
Labels: area/core

feat: add explan in index
  .github/workflows/label-pr.yml
  docs/source/index.md
Labels: area/docs, area/housekeeping, area/cicd

ci: add label pr and netlify
  .github/workflows/label-pr.yml
Labels: area/housekeeping, area/cicd

ci: temporarly always build docs
  .github/workflows/label-pr.yml
Labels: area/housekeeping, area/cicd

ci: add back makedoc file
  docs/makedoc.sh
Labels: area/docs

feat: add name generator
  .pre-commit-config.yaml
  finetuner/names.py
Labels: area/core, area/housekeeping, component/misc

chore: upgrade hubble client
  requirements.txt
Labels: area/setup

fix: duplicate entry in constants.py
  finetuner/constants.py
Labels: area/core, component/misc

feat: user interface
  finetuner/__init__.py
Labels: area/core, area/entrypoint, component/misc

refactor: strip high level logic from api client
  finetuner/client/__init__.py
  finetuner/client/base.py
  finetuner/client/client.py
Labels: area/core

refactor: use relative imports
  finetuner/classes/__init__.py
  finetuner/classes/experiment.py
  finetuner/classes/finetuner.py
  finetuner/classes/run.py
Labels: area/core

docs: folder restructure
  docs/_static/finetuner-dark.svg
  docs/_static/finetuner-light.svg
  docs/_static/finetuner-logo-ani.svg
  docs/_static/logo-dark.svg
  docs/_static/logo-light.svg
  docs/conf.py
  docs/index.md
  docs/source/api/modules.rst
Labels: area/docs

refactor: use absolute imports
  finetuner/classes/__init__.py
  finetuner/classes/experiment.py
  finetuner/classes/finetuner.py
  finetuner/classes/run.py
  finetuner/client/__init__.py
  finetuner/client/base.py
  finetuner/client/client.py
Labels: area/core

refactor: client (#393)
  .pre-commit-config.yaml
  finetuner/__init__.py
  finetuner/classes/experiment.py
  finetuner/classes/finetuner.py
  finetuner/classes/run.py
  finetuner/client/__init__.py
  finetuner/client/base.py
  finetuner/client/client.py
  finetuner/constants.py
  finetuner/names.py
  requirements.txt
Labels: area/setup, area/core, area/entrypoint, area/housekeeping, component/misc

feat: refactor everything; integration tests need to be fixed
  .flake8
  finetuner/__init__.py
  finetuner/classes/__init__.py
  finetuner/client/base.py
  finetuner/constants.py
  finetuner/experiment.py
  finetuner/finetuner.py
  finetuner/hubble.py
  finetuner/names.py
  finetuner/run.py
  setup.cfg
  setup.py
  tests/conftest.py
  tests/constants.py
  tests/integration/conftest.py
  tests/integration/test_experiments.py
  tests/integration/test_runs.py
  tests/unit/conftest.py
  tests/unit/test_experiments.py
  tests/unit/test_hubble.py
  tests/unit/test_runs.py
Labels: area/testing, area/setup, area/core, area/entrypoint, component/misc

ci: build docs for dev branch disable unit test
  .github/workflows/ci.yml
  .github/workflows/label-pr.yml
Labels: area/housekeeping, area/cicd

ci: build docs for main
  .github/workflows/label-pr.yml
Labels: area/housekeeping, area/cicd

chore: test for experiment deletion error
  tests/integration/test_experiments.py
Labels: area/testing

chore: test commit
  tests/integration/test_experiments.py
Labels: area/testing

chore: double quotes to single quotes
  .github/workflows/tag.yml
  .pre-commit-config.yaml
  LICENSE
  codecov.yml
  finetuner/__init__.py
  finetuner/client/base.py
  finetuner/constants.py
  finetuner/experiment.py
  finetuner/finetuner.py
  finetuner/names.py
  finetuner/run.py
  setup.py
  tests/conftest.py
  tests/constants.py
  tests/integration/conftest.py
  tests/integration/test_experiments.py
  tests/integration/test_runs.py
  tests/unit/conftest.py
  tests/unit/test_experiments.py
  tests/unit/test_hubble.py
  tests/unit/test_runs.py
Labels: area/testing, area/setup, area/core, area/entrypoint, area/housekeeping, area/cicd, component/misc

chore: restore license
  LICENSE
Labels: none

feat: generate random name if not provided
  finetuner/finetuner.py
Labels: area/core, component/misc

feat: generate random name
  finetuner/finetuner.py
Labels: area/core, component/misc

chore: change docstring
  finetuner/finetuner.py
Labels: area/core, component/misc

chore: delete readme.md
  .pre-commit-config.yaml
  docs/Readme.md
  docs/conf.py
  docs/makedoc.sh
  docs/requirements.txt
Labels: area/docs, area/housekeeping
