Repository jina-ai/finetuner, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/testing, area/setup, area/core, area/entrypoint, area/housekeeping, area/cicd, area/docker, area/script, component/tailor, component/tuner, component/misc

chore: setup api project (#385)
  .github/release-template.ejs
  .github/requirements-cicd-gpu.txt
  .github/requirements-cicd.txt
  .github/requirements-test.txt
  .github/workflows/ci.yml
  .github/workflows/force-docs-build.yml
  .github/workflows/force-release.yaml
  .github/workflows/label-pr.yml
  MANIFEST.in
  README.md
  docs/Readme.md
  finetuner/__init__.py
  pyproject.toml
  tests/__init__.py
Labels: area/docs, area/testing, area/setup, area/core, area/entrypoint, area/housekeeping, area/cicd, component/misc

feat: setup experiment endpoints
  finetuner/__init__.py
  finetuner/client/__init__.py
  finetuner/client/base.py
  finetuner/client/client.py
  finetuner/client/endpoints.py
  finetuner/constants.py
  tests/conftest.py
  tests/unit/__init__.py
  tests/unit/test_experiments.py
Labels: area/testing, area/core, area/entrypoint, component/misc

refactor: modify a fixture
  tests/conftest.py
Labels: area/testing

refactor: change function name
  tests/conftest.py
Labels: area/testing

refactor: add docstrings, .env, other small changes
  .env
  .flake8
  finetuner/__init__.py
  finetuner/client/base.py
  finetuner/client/client.py
  finetuner/constants.py
  tests/conftest.py
  tests/unit/test_experiments.py
Labels: area/testing, area/core, area/entrypoint, component/misc

refactor: minor changes
  finetuner/client/base.py
  finetuner/client/endpoints.py
Labels: area/core

refactor: add changelog, change var name
  CHANGELOG.md
  finetuner/client/client.py
Labels: area/docs, area/core

feat: add makefile and ci
  .github/workflows/ci.yml
  Makefile
  experiments-dev.txt
  finetuner/client/base.py
  requirements.txt
  tests/integration/__init__.py
  tests/integration/test_experiments.py
  tests/unit/test_experiments.py
Labels: area/testing, area/setup, area/core, area/housekeeping, area/cicd

refactor: rename requirements file
  requirements-dev.txt
Labels: none

chore: update requirements.txt
  requirements.txt
Labels: area/setup

chore: update makefile and ci
  .github/workflows/ci.yml
  Makefile
Labels: area/housekeeping, area/cicd

chore: update requirements
  requirements-dev.txt
Labels: none

chore: try ci with a different requests version
  requirements.txt
Labels: area/setup

refactor: minor changes
  .env
  requirements.txt
Labels: area/setup

chore: update gitignore
  .gitignore
Labels: area/housekeeping

feat: setup experiment endpoints (#386)
  .flake8
  .github/workflows/ci.yml
  .gitignore
  CHANGELOG.md
  Makefile
  finetuner/__init__.py
  finetuner/client/__init__.py
  finetuner/client/base.py
  finetuner/client/client.py
  finetuner/client/endpoints.py
  finetuner/constants.py
  requirements-dev.txt
  requirements.txt
  tests/conftest.py
  tests/integration/__init__.py
  tests/integration/test_experiments.py
  tests/unit/__init__.py
  tests/unit/test_experiments.py
Labels: area/docs, area/testing, area/setup, area/core, area/entrypoint, area/housekeeping, area/cicd, component/misc

feat: add run endpoints
  finetuner/client/base.py
  finetuner/client/client.py
  finetuner/client/endpoints.py
  finetuner/constants.py
  tests/conftest.py
  tests/constants.py
  tests/integration/test_experiments.py
  tests/integration/test_runs.py
  tests/resources/run-config.json
  tests/unit/test_experiments.py
  tests/unit/test_runs.py
Labels: area/testing, area/core, component/misc

feat: add changelog
  CHANGELOG.md
Labels: area/docs

feat: minor change in a fixture
  tests/conftest.py
Labels: area/testing

feat: create run endpoints (#387)
  CHANGELOG.md
  finetuner/client/base.py
  finetuner/client/client.py
  finetuner/client/endpoints.py
  finetuner/constants.py
  tests/conftest.py
  tests/constants.py
  tests/integration/test_experiments.py
  tests/integration/test_runs.py
  tests/resources/run-config.json
  tests/unit/test_experiments.py
  tests/unit/test_runs.py
Labels: area/docs, area/testing, area/core, component/misc

feat: hubble integration
  finetuner/client/__init__.py
  finetuner/client/base.py
  finetuner/client/client.py
  finetuner/constants.py
  requirements.txt
  tests/conftest.py
  tests/integration/test_experiments.py
  tests/integration/test_runs.py
  tests/unit/test_experiments.py
  tests/unit/test_runs.py
Labels: area/testing, area/setup, area/core, component/misc

feat: refactor create run
  finetuner/client/base.py
  finetuner/client/client.py
  finetuner/constants.py
  tests/conftest.py
  tests/constants.py
  tests/unit/test_experiments.py
Labels: area/testing, area/core, component/misc

feat: update unit tests
  finetuner/client/base.py
  finetuner/client/client.py
  requirements.txt
  tests/conftest.py
  tests/integration/conftest.py
  tests/unit/conftest.py
  tests/unit/test_hubble.py
  tests/unit/test_runs.py
Labels: area/testing, area/setup, area/core

feat: fix code quality error
  finetuner/client/base.py
  finetuner/client/client.py
  tests/integration/conftest.py
  tests/integration/test_experiments.py
  tests/integration/test_runs.py
  tests/unit/conftest.py
  tests/unit/test_hubble.py
  tests/unit/test_runs.py
Labels: area/testing, area/core

feat: minor change in integration tests
  tests/integration/test_experiments.py
  tests/integration/test_runs.py
Labels: area/testing

feat: attempt to fix the CI error
  finetuner/client/base.py
  requirements-dev.txt
Labels: area/core

feat: fix unit tests
  tests/unit/conftest.py
Labels: area/testing

feat: another attempt to fix unit tests
  tests/unit/conftest.py
Labels: area/testing

feat: CI works
  tests/conftest.py
  tests/integration/conftest.py
  tests/unit/conftest.py
Labels: area/testing

feat: add changelog
  CHANGELOG.md
Labels: area/docs

feat: delete constants; add a note for config construction
  finetuner/client/client.py
  tests/constants.py
Labels: area/testing, area/core

feat: minor changes
  finetuner/client/base.py
  finetuner/client/client.py
  requirements.txt
Labels: area/setup, area/core

feat: correct da loading; let users login to hubble
  finetuner/__init__.py
  finetuner/client/__init__.py
  finetuner/client/base.py
  finetuner/client/client.py
  requirements-dev.txt
  tests/constants.py
  tests/integration/conftest.py
  tests/integration/test_runs.py
  tests/unit/conftest.py
  tests/unit/test_hubble.py
Labels: area/testing, area/core, area/entrypoint, component/misc

feat: code formatting
  finetuner/__init__.py
  finetuner/client/__init__.py
  finetuner/client/client.py
  tests/integration/conftest.py
  tests/unit/conftest.py
Labels: area/testing, area/core, area/entrypoint, component/misc

feat: minor change
  finetuner/client/client.py
Labels: area/core

feat: detele unused import
  tests/integration/test_runs.py
Labels: area/testing

feat: improve code quality
  finetuner/__init__.py
  finetuner/client/client.py
Labels: area/core, area/entrypoint, component/misc

feat: minor changes
  finetuner/client/base.py
  finetuner/client/client.py
  tests/unit/conftest.py
  tests/unit/test_experiments.py
  tests/unit/test_runs.py
Labels: area/testing, area/core

feat: code reformatting
  finetuner/client/client.py
Labels: area/core

feat: change requirements
  requirements-dev.txt
  requirements.txt
Labels: area/setup

.github/labeler.yml:

# Add 'label1' to any changes within 'example' folder or any subfolders
area/docs:
  - docs/**/*
  - ./*.md

area/testing:
  - tests/**/*

area/setup:
  - setup.py
  - extra-requirements.txt
  - requirements.txt
  - MANIFEST.in
  - fastentrypoints.py

area/core:
  - finetuner/**/*

area/entrypoint:
  - finetuner/__init__.py

area/housekeeping:
  - .github/**/*
  - ./.gitignore
  - ./*.yaml
  - ./*.yml

area/cicd:
  - .github/workflows/**/*

area/docker:
  - Dockerfiles/**/*
  - ./.dockerignore

area/script:
  - script/**/*

component/tailor:
  - finetuner/tailor/**/*

component/tuner:
  - finetuner/tuner/**/*

component/misc:
  - finetuner/*.py
