Repository jina-ai/finetuner, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/testing, area/setup, area/housekeeping, area/cicd, area/docker, area/core, area/entrypoint

chore: update changelog
  CHANGELOG.md
  finetuner/__init__.py
Labels: area/docs, area/core, area/entrypoint

fix: resolve tests
  tests/integration/test_experiments.py
  tests/integration/test_runs.py
Labels: area/testing

docs: update docstring
  finetuner/__init__.py
  finetuner/finetuner.py
Labels: area/core, area/entrypoint

fix: `download_artifact` throws error (#401)
  CHANGELOG.md
  finetuner/hubble.py
  tests/integration/conftest.py
  tests/integration/test_runs.py
Labels: area/docs, area/testing, area/core

feat: add experiment-related methods to finetuner (#402)
  CHANGELOG.md
  finetuner/__init__.py
  finetuner/finetuner.py
  tests/integration/test_experiments.py
  tests/integration/test_runs.py
Labels: area/docs, area/testing, area/core, area/entrypoint

.github/labeler.yml:

area/docs:
  - docs/**/*
  - ./*.md

area/testing:
  - tests/**/*

area/setup:
  - setup.py
  - requirements*
  - MANIFEST.in

area/housekeeping:
  - .github/**/*
  - ./.gitignore
  - ./*.yaml
  - ./*.yml

area/cicd:
  - .github/workflows/**/*

area/docker:
  - Dockerfiles/**/*
  - ./.dockerignore

area/core:
  - finetuner/**/*

area/entrypoint:
  - finetuner/__init__.py
