Repository jina-ai/finetuner, pull requests merged in 2021-12, with the labels that each got.

#251 fix: update the finetuner label key in UI to 'finetuner_label'
  finetuner/labeler/ui/js/main.js
Labels: type/bug, area/UI, area/core, component/labeler, size/xs

#250 ci(docsbot): redeploy finetuner on cd
  .github/workflows/cd.yml
Labels: size/s, area/housekeeping, area/cicd

#238 feat: allow any layer to be embedding layer
  finetuner/__init__.py
  finetuner/tailor/__init__.py
  finetuner/tailor/base.py
  finetuner/tailor/keras/__init__.py
  finetuner/tailor/paddle/__init__.py
  finetuner/tailor/pytorch/__init__.py
  pytest.ini
  tests/unit/tailor/test_display.py
  tests/unit/tailor/test_keras.py
  tests/unit/tailor/test_paddle.py
  tests/unit/tailor/test_torch.py
Labels: area/testing, size/m, area/core, area/entrypoint, component/misc, component/tailor

#253 fix(test): fix flaky overfit test
  tests/conftest.py
Labels: area/testing, size/s

#255 fix: preprocess use same for embed and training
  finetuner/embedding.py
Labels: size/s, area/core, component/misc

#256 fix: expose arguments of embed() in the evaluator
  finetuner/tuner/evaluation.py
Labels: size/s, area/core, component/tuner

#248 feat: lr scheduler
  finetuner/__init__.py
  finetuner/helper.py
  finetuner/tuner/__init__.py
  finetuner/tuner/base.py
  finetuner/tuner/callback/wandb_logger.py
  finetuner/tuner/keras/__init__.py
  finetuner/tuner/paddle/__init__.py
  finetuner/tuner/pytorch/__init__.py
  finetuner/tuner/state.py
  tests/conftest.py
  tests/integration/conftest.py
  tests/integration/keras/test_callback.py
  tests/integration/keras/test_keras_trainer.py
  tests/integration/keras/test_lr.py
  tests/integration/paddle/test_callback.py
  tests/integration/paddle/test_lr.py
  tests/integration/paddle/test_paddle_trainer.py
  tests/integration/torch/test_callback.py
  tests/integration/torch/test_lr.py
  tests/integration/torch/test_torch_trainer.py
  tests/unit/tuner/callback/test_wandb.py
  tests/unit/tuner/keras/test_gpu.py
  tests/unit/tuner/paddle/test_gpu.py
  tests/unit/tuner/pytorch/test_gpu.py
Labels: area/testing, area/core, area/entrypoint, component/tuner, component/misc, size/l

#268 fix: embedding type
  finetuner/embedding.py
  finetuner/tuner/evaluation.py
Labels: area/core, component/tuner, component/misc, size/xs

#264 test: fix tailor test
  finetuner/tailor/keras/__init__.py
  tests/unit/tailor/test_common.py
  tests/unit/tailor/test_keras.py
Labels: area/testing, size/s, area/core, component/tailor

#263 feat: add multiprocessing dataloading
  finetuner/__init__.py
  finetuner/tuner/__init__.py
  finetuner/tuner/base.py
  finetuner/tuner/dataset/base.py
  finetuner/tuner/dataset/samplers.py
  finetuner/tuner/keras/__init__.py
  finetuner/tuner/paddle/__init__.py
  finetuner/tuner/pytorch/__init__.py
  tests/integration/conftest.py
  tests/integration/keras/test_num_workers.py
  tests/integration/paddle/test_num_workers.py
  tests/integration/torch/test_num_workers.py
Labels: area/testing, size/m, area/core, area/entrypoint, component/tuner, component/misc

#236 feat: miners for hard triplets
  finetuner/tuner/dataset/datasets.py
  finetuner/tuner/evaluation.py
  finetuner/tuner/keras/miner.py
  finetuner/tuner/miner/mining_strategies.py
  finetuner/tuner/paddle/miner.py
  finetuner/tuner/pytorch/__init__.py
  finetuner/tuner/pytorch/miner.py
  tests/integration/keras/test_overfit.py
  tests/integration/paddle/test_overfit.py
  tests/integration/torch/test_overfit.py
  tests/unit/tuner/keras/test_miner.py
  tests/unit/tuner/paddle/test_miner.py
  tests/unit/tuner/pytorch/test_miner.py
  tests/unit/tuner/test_mining_strategies.py
Labels: area/testing, area/core, component/tuner, size/xl

#273 docs: refine tailor docs
  docs/components/tailor.md
  finetuner/tailor/paddle/__init__.py
  tests/unit/tailor/test_paddle.py
Labels: area/testing, area/core, component/tailor, size/xl, area/docs

#277 fix: remove import
  finetuner/tuner/miner/mining_strategies.py
Labels: area/core, component/tuner, size/xs

#278 docs: minor fixes across docs
  docs/basics/datasets/session-dataset.md
  docs/basics/datasets/unlabeled-dataset.md
  docs/basics/embed.png
  docs/basics/fit-plot.png
  docs/basics/fit.md
  docs/basics/glossary.md
  docs/components/labeler.md
  docs/components/overview.md
  docs/components/tailor.md
  docs/components/tuner.md
  docs/get-started/celeba.md
  docs/get-started/covid-qa.md
  docs/get-started/fashion-mnist.md
  docs/get-started/swiss-roll/index.md
  docs/index.md
  finetuner/embedding.py
  finetuner/labeler/executor.py
Labels: size/m, area/core, component/misc, component/labeler, area/docs

#281 docs: remove output dim from tailor
  docs/components/labeler.md
  docs/get-started/celeba.md
  docs/index.md
Labels: size/xs, area/docs

#276 docs: update tuner docs
  README.md
  docs/basics/datasets/class-dataset.md
  docs/components/mlp.png
  docs/components/tuner.md
  docs/components/tuner/callbacks.md
  docs/components/tuner/loss.md
  docs/components/tuner/sample-position-during-mining.png
  docs/components/wandb.png
  tests/integration/keras/test_lr.py
Labels: area/testing, size/l, area/docs

#282 chore: set next version
  finetuner/__init__.py
Labels: area/core, area/entrypoint, component/misc, size/xs

#266 feat: early stop callback
  finetuner/embedding.py
  finetuner/tuner/base.py
  finetuner/tuner/callback/__init__.py
  finetuner/tuner/callback/early_stopping.py
  finetuner/tuner/keras/__init__.py
  finetuner/tuner/paddle/__init__.py
  finetuner/tuner/pytorch/__init__.py
  tests/unit/tuner/callback/test_early_stopping.py
Labels: area/testing, size/m, area/core, component/tuner, component/misc

#249 feat: model checkpoint
  finetuner/tuner/callback/__init__.py
  finetuner/tuner/callback/best_model_checkpoint.py
  finetuner/tuner/callback/training_checkpoint.py
  finetuner/tuner/callback/wandb_logger.py
  finetuner/tuner/dataset/base.py
  finetuner/tuner/evaluation.py
  finetuner/tuner/keras/__init__.py
  finetuner/tuner/paddle/__init__.py
  finetuner/tuner/pytorch/__init__.py
  tests/integration/keras/test_model_checkpoint.py
  tests/integration/labeler/test_tune_mlp.py
  tests/integration/labeler/test_tune_transformer.py
  tests/integration/paddle/test_model_checkpoint.py
  tests/integration/paddle/test_paddle_trainer.py
  tests/integration/test_model_checkpoint.py
  tests/integration/torch/test_model_checkpoint.py
  tests/integration/torch/test_torch_trainer.py
  tests/unit/tuner/callback/test_model_checkpoint.py
  tests/unit/tuner/keras/test_model_checkpoint.py
  tests/unit/tuner/paddle/test_model_checkpoint.py
  tests/unit/tuner/pytorch/test_model_checkpoint.py
Labels: area/testing, area/core, component/tuner, size/xl

#283 refactor(doc-bot): migrate to <jina-qa-bot>
  docs/_static/docbot.css
  docs/_static/docbot.js
  docs/_templates/docbot.html
  docs/_templates/page.html
  docs/conf.py
Labels: size/m, area/docs

#286 fix: handle exceptions in callbacks
  finetuner/tuner/base.py
  finetuner/tuner/callback/base.py
  finetuner/tuner/callback/progress_bar.py
  finetuner/tuner/keras/__init__.py
  finetuner/tuner/paddle/__init__.py
  finetuner/tuner/pytorch/__init__.py
  tests/integration/conftest.py
  tests/integration/keras/test_callback.py
  tests/integration/paddle/test_callback.py
  tests/integration/torch/test_callback.py
Labels: area/testing, size/m, area/core, component/tuner

#292 fix(qa-bot): fix link reference and width style
  docs/_templates/page.html
  docs/conf.py
Labels: size/xs, area/docs

#296 fix: make sure logging is correct
  finetuner/tuner/callback/best_model_checkpoint.py
Labels: area/core, component/tuner, size/xs

#267 chore: adapt to the latest changes
  docs/index.md
  finetuner/labeler/__init__.py
  finetuner/labeler/executor.py
Labels: area/core, component/labeler, size/xs, area/docs

#294 chore: fix typos in covid-qa
  docs/get-started/covid-qa.md
  finetuner/labeler/ui/js/components/sidebar.vue.js
  finetuner/tuner/callback/best_model_checkpoint.py
Labels: size/s, area/core, component/tuner, component/labeler, area/docs

#285 docs: add tll tutorial
  docs/get-started/totally-looks-like/index.md
  docs/get-started/totally-looks-like/metric_learning.png
  docs/get-started/totally-looks-like/overview.png
  docs/index.md
Labels: size/m, area/docs

#303 fix(tuner): logging
  finetuner/__init__.py
  finetuner/toydata.py
  finetuner/tuner/__init__.py
  finetuner/tuner/callback/__init__.py
  finetuner/tuner/callback/best_model_checkpoint.py
  finetuner/tuner/callback/early_stopping.py
  finetuner/tuner/callback/progress_bar.py
  finetuner/tuner/callback/training_checkpoint.py
Labels: size/m, area/core, area/entrypoint, component/tuner, component/misc
