Repository jina-ai/finetuner, pull requests merged in 2021-11, with the labels that each got.

#183 feat(helper): add batch_size to embed fn
  finetuner/embedding.py
Labels: size/s, area/core, component/misc

#180 feat(tuner): add miner v1
  finetuner/helper.py
  finetuner/tuner/base.py
  finetuner/tuner/pytorch/miner.py
  tests/unit/tuner/torch/test_miner.py
Labels: area/testing, size/m, area/core, component/tuner, component/misc

#181 feat: reformat data loading
  finetuner/tuner/dataset/__init__.py
  finetuner/tuner/dataset/samplers.py
  tests/integration/paddle/test_paddle_trainer.py
  tests/unit/tuner/dataset/__init__.py
  tests/unit/tuner/dataset/test_class_dataset.py
  tests/unit/tuner/dataset/test_class_sampler.py
  tests/unit/tuner/dataset/test_session_dataset.py
  tests/unit/tuner/dataset/test_session_sampler.py
Labels: area/testing, area/core, component/tuner, size/l

#184 feat(tuner): add miner for session dataset
  .github/requirements-cicd-gpu.txt
  .github/requirements-cicd.txt
  finetuner/tuner/pytorch/miner.py
  tests/unit/tuner/torch/test_miner.py
Labels: area/testing, area/housekeeping, size/m, area/core, component/tuner

#188 ci: pin framework version
  .github/requirements-cicd-gpu.txt
  .github/requirements-cicd.txt
  tests/integration/fit/test_fit_lstm.py
  tests/integration/fit/test_fit_mlp.py
  tests/unit/tuner/dataset/test_class_sampler.py
Labels: area/testing, size/s, area/housekeeping

#189 ci: upgrade tensorflow version
  .github/requirements-cicd-gpu.txt
  .github/requirements-cicd.txt
Labels: area/housekeeping, size/xs

#190 fix(embedding): fix embedding train/eval time behavior
  finetuner/embedding.py
Labels: size/s, area/core, component/misc

#185 chore(labeler): add component for audio matches
  finetuner/labeler/ui/index.html
  finetuner/labeler/ui/js/components/audio-match-card.vue.js
  finetuner/labeler/ui/js/main.js
  finetuner/labeler/ui/main.css
Labels: size/s, area/core, component/labeler

#196 fix(tailor): fix to emebdding model
  finetuner/tailor/paddle/__init__.py
  finetuner/tailor/pytorch/__init__.py
Labels: area/core, component/tailor, size/xs

#198 feat(miner): refactor tf pipeline
  finetuner/tuner/keras/losses.py
  finetuner/tuner/keras/miner.py
  tests/unit/tuner/keras/conftest.py
  tests/unit/tuner/keras/test_dist.py
  tests/unit/tuner/keras/test_loss.py
  tests/unit/tuner/keras/test_miner.py
Labels: area/testing, area/core, component/tuner, size/l

#207 fix: make get_framework robust
  finetuner/helper.py
  tests/unit/test_get_framework.py
Labels: area/testing, size/s, area/core, component/misc

#209 fix: raise value error in loss if get nothing from miner
  finetuner/tuner/keras/losses.py
  finetuner/tuner/paddle/losses.py
  finetuner/tuner/pytorch/losses.py
  tests/unit/tuner/keras/test_loss.py
  tests/unit/tuner/paddle/test_loss.py
  tests/unit/tuner/pytorch/test_loss.py
Labels: area/testing, size/m, area/core, component/tuner

#211 fix: docs celeba
  README.md
  docs/get-started/celeba.md
Labels: size/s, area/docs

#212 docs: fix doc-bot style during load
  docs/_static/docbot.css
  docs/_static/docbot.js
  docs/_templates/docbot.html
Labels: size/m, area/docs

#213 docs(labeler): fix docstring
  finetuner/embedding.py
  finetuner/labeler/__init__.py
Labels: size/s, area/core, component/misc, component/labeler

#214 refactor(sampling): make num_items_per_class optional
  finetuner/__init__.py
  finetuner/embedding.py
  finetuner/helper.py
  finetuner/labeler/__init__.py
  finetuner/tailor/__init__.py
  finetuner/tailor/base.py
  finetuner/tailor/keras/__init__.py
  finetuner/tailor/paddle/__init__.py
  finetuner/tailor/pytorch/__init__.py
  finetuner/toydata.py
  finetuner/tuner/__init__.py
  finetuner/tuner/base.py
  finetuner/tuner/dataset/__init__.py
  finetuner/tuner/dataset/samplers.py
  finetuner/tuner/keras/__init__.py
  finetuner/tuner/keras/data.py
  finetuner/tuner/paddle/__init__.py
  finetuner/tuner/pytorch/__init__.py
  tests/integration/conftest.py
  tests/integration/labeler/test_tune_mlp.py
  tests/integration/labeler/test_tune_transformer.py
  tests/unit/conftest.py
  tests/unit/test_toydaya.py
  tests/unit/tuner/dataset/test_class_dataset.py
  tests/unit/tuner/dataset/test_class_sampler.py
  tests/unit/tuner/dataset/test_session_dataset.py
Labels: area/testing, size/m, area/core, area/entrypoint, component/tuner, component/misc, component/labeler, component/tailor

#215 refactor(dataset): make preprocess_fn work on document
  finetuner/embedding.py
  finetuner/helper.py
  finetuner/tuner/dataset/__init__.py
  tests/unit/tuner/dataset/test_class_dataset.py
  tests/unit/tuner/dataset/test_session_dataset.py
Labels: area/testing, size/s, area/core, component/tuner, component/misc

#216 fix: docbot overflow and scrolling
  docs/_static/docbot.css
  docs/_static/docbot.js
Labels: size/s, area/docs

#217 refactor(dataset): make preprocess_fn return any
  finetuner/helper.py
  finetuner/tuner/dataset/__init__.py
  tests/unit/tuner/dataset/test_class_dataset.py
  tests/unit/tuner/dataset/test_session_dataset.py
Labels: area/testing, size/s, area/core, component/tuner, component/misc

#221 docs: improve docstring for preprocess_fn
  docs/basics/data-format.md
  finetuner/embedding.py
  finetuner/labeler/__init__.py
  finetuner/tuner/__init__.py
  finetuner/tuner/dataset/__init__.py
Labels: size/s, area/core, component/tuner, component/misc, component/labeler, area/docs

#223 feat(evaluation): add evaluation metrics
  finetuner/tuner/evaluation.py
  finetuner/tuner/metrices.py
  finetuner/tuner/metrics.py
  tests/unit/tuner/test_metrics.py
Labels: area/testing, size/m, area/core, component/tuner

#222 fix(docbot): feedback tooltip ui style
  docs/_static/docbot.css
  docs/_templates/docbot.html
Labels: size/s, area/docs

#225 docs: versioning
  .github/workflows/force-docs-build.yml
  .github/workflows/label-pr.yml
  docs/_static/main.css
  docs/_templates/sidebar/brand.html
  docs/conf.py
  docs/makedoc.sh
  docs/requirements.txt
Labels: size/s, area/housekeeping, area/cicd, area/docs

#226 docs(dataset): restructure docs on datasets
  docs/basics/data-format.md
  docs/basics/datasets/class-dataset.md
  docs/basics/datasets/session-dataset.md
  docs/basics/datasets/unlabeled-dataset.md
  docs/basics/glossary.md
  finetuner/tuner/base.py
  finetuner/tuner/dataset/__init__.py
  finetuner/tuner/dataset/base.py
  finetuner/tuner/dataset/datasets.py
  finetuner/tuner/dataset/samplers.py
  tests/unit/tuner/dataset/test_class_sampler.py
  tests/unit/tuner/dataset/test_session_sampler.py
Labels: area/testing, area/core, component/tuner, size/l, area/docs

#229 docs(multiversion): fix markup in options
  docs/_templates/sidebar/brand.html
Labels: size/xs, area/docs

#230 feat(tailor): support freeze by layer names
  finetuner/tailor/keras/__init__.py
  finetuner/tailor/paddle/__init__.py
  finetuner/tailor/pytorch/__init__.py
  tests/unit/tailor/test_keras.py
  tests/unit/tailor/test_paddle.py
  tests/unit/tailor/test_torch.py
Labels: area/testing, size/m, area/core, component/tailor

#224 Feat evaluators
  finetuner/tuner/evaluation.py
  tests/unit/tuner/test_evaluation.py
Labels: area/testing, size/m, area/core, component/tuner

#234 docs: fix typos 1
  docs/basics/datasets/class-dataset.md
  docs/basics/datasets/session-dataset.md
  docs/get-started/swiss-roll/index.md
Labels: size/s, area/docs

#245 docs: fix rendering
  docs/_static/main.css
  docs/_templates/sidebar/brand.html
  docs/makedoc.sh
Labels: size/s, area/docs

#244 fix(tuner): make copy of non writable blob
  finetuner/tuner/pytorch/datasets.py
  tests/unit/tuner/pytorch/test_dataset.py
Labels: area/testing, size/s, area/core, component/tuner

#237 feat: add wandb logger
  .github/requirements-cicd-gpu.txt
  .github/requirements-cicd.txt
  .gitignore
  finetuner/__init__.py
  finetuner/tuner/__init__.py
  finetuner/tuner/base.py
  finetuner/tuner/callback/__init__.py
  finetuner/tuner/callback/wandb_logger.py
  tests/unit/tuner/callback/__init__.py
  tests/unit/tuner/callback/test_wandb.py
Labels: area/testing, area/housekeeping, size/m, area/core, area/entrypoint, component/tuner, component/misc

#246 feat(tailor): add freeze layers to fit
  finetuner/__init__.py
Labels: area/core, area/entrypoint, component/misc, size/xs
