Repository jina-ai/finetuner, pull requests merged in 2022-11, with the labels that each got.

#592 feat: add support for csv files
  CHANGELOG.md
  README.md
  docs/get-started/design-principles.md
  docs/get-started/how-it-works.md
  docs/walkthrough/create-training-data.md
  docs/walkthrough/integrate-with-jina.md
  docs/walkthrough/run-job.md
  docs/walkthrough/using-callbacks.md
  finetuner/__init__.py
  finetuner/constants.py
  finetuner/data.py
  finetuner/experiment.py
  finetuner/finetuner.py
  tests/unit/conftest.py
  tests/unit/resources/dummy.csv
  tests/unit/resources/lena.png
  tests/unit/test_data.py
Labels: area/testing, area/core, area/entrypoint, size/l, area/docs

#597 docs: clarified docs
  docs/walkthrough/create-training-data.md
Labels: size/s, area/docs

#600 docs: add wandb callback docs
  CHANGELOG.md
  docs/walkthrough/using-callbacks.md
Labels: size/s, area/docs

#599 docs: update artifacts, lr, and results for tll experiment
  CHANGELOG.md
  README.md
  docs/notebooks/image_to_image.ipynb
  docs/notebooks/image_to_image.md
Labels: size/s, area/docs

#601 docs: improve csv reader and monitor docs
  CHANGELOG.md
  docs/walkthrough/create-training-data.md
  docs/walkthrough/save-model.md
Labels: size/s, area/docs

#603 fix: correctly use eval_data
  CHANGELOG.md
  docs/walkthrough/integrate-with-jina.md
  docs/walkthrough/login.md
  finetuner/experiment.py
Labels: size/s, area/core, area/docs

#602 feat: allow artifact sharing
  CHANGELOG.md
  docs/walkthrough/run-job.md
  docs/walkthrough/save-model.md
  docs/walkthrough/using-callbacks.md
  finetuner/__init__.py
  finetuner/constants.py
  finetuner/experiment.py
  finetuner/finetuner.py
  setup.py
  tests/unit/test_experiment.py
Labels: area/testing, size/s, area/core, area/entrypoint, area/docs, area/setup

#594 chore: bump hubble sdk
  CHANGELOG.md
  README.md
  docs/_templates/template_ft_in_action.md
  docs/get-started/how-it-works.md
  docs/walkthrough/index.md
  docs/walkthrough/integrate-with-jina.md
  docs/walkthrough/login.md
  docs/walkthrough/save-model.md
  finetuner/__init__.py
  finetuner/finetuner.py
  tests/integration/conftest.py
  tests/unit/mocks.py
Labels: area/testing, size/s, area/core, area/entrypoint, area/docs

#604 chore: release 0.6.5
  CHANGELOG.md
  setup.cfg
Labels: size/s

#605 refactor: update notebooks
  CHANGELOG.md
  docs/notebooks/image_to_image.ipynb
  docs/notebooks/image_to_image.md
  docs/notebooks/text_to_image.ipynb
  docs/notebooks/text_to_image.md
  docs/notebooks/text_to_text.ipynb
  docs/notebooks/text_to_text.md
Labels: size/s, area/docs

#607 chore: bump commons and stubs version
  setup.py
Labels: size/xs, area/setup

#608 feat: add support for csv files to evaluator callback
  CHANGELOG.md
  docs/walkthrough/using-callbacks.md
  finetuner/experiment.py
Labels: size/s, area/core, area/docs

#610 docs: better describe models on task
  CHANGELOG.md
  docs/walkthrough/choose-backbone.md
  docs/walkthrough/run-job.md
  finetuner/__init__.py
  finetuner/console.py
Labels: size/m, area/core, area/entrypoint, area/docs

#609 add comment for run name
  README.md
Labels: size/xs

#614 feat: allow config num_items_per_class
  CHANGELOG.md
  docs/conf.py
  docs/walkthrough/run-job.md
  finetuner/__init__.py
  finetuner/constants.py
  finetuner/experiment.py
  finetuner/finetuner.py
Labels: size/s, area/core, area/entrypoint, area/docs

#615 docs: add docs for eval callbacks for clip models
  CHANGELOG.md
  docs/notebooks/text_to_image.md
  docs/walkthrough/using-callbacks.md
Labels: size/s, area/docs

#611 docs: document multilingual clip
  CHANGELOG.md
  docs/index.md
  docs/notebooks/images/WandB-mclip.png
  docs/notebooks/images/mclip-example-ft-1.png
  docs/notebooks/images/mclip-example-ft-2.png
  docs/notebooks/images/mclip-example-pt-1.png
  docs/notebooks/images/mclip-example-pt-2.png
  docs/notebooks/multilingual_text_to_image.ipynb
  docs/notebooks/multilingual_text_to_image.md
  docs/walkthrough/choose-backbone.md
Labels: size/l, area/docs

#617 chore: release 0.6.6
  CHANGELOG.md
  setup.cfg
Labels: size/s

#618 fix: dependency and callback import
  CHANGELOG.md
  docs/notebooks/text_to_image.md
  finetuner/experiment.py
  setup.py
  tests/integration/test_runs.py
  tests/unit/test_experiment.py
Labels: area/testing, size/s, area/core, area/docs, area/setup

#619 chore: release 0.6.7
  CHANGELOG.md
  setup.cfg
Labels: size/s

#621 chore: align text-to-image notebook with markdown
  CHANGELOG.md
  docs/notebooks/text_to_image.ipynb
Labels: size/s, area/docs

#624 feat: add `val_split` to fit interface
  CHANGELOG.md
  finetuner/__init__.py
  finetuner/constants.py
  finetuner/experiment.py
  finetuner/finetuner.py
Labels: size/s, area/core, area/entrypoint

#623 Fix build encoding dataset
  CHANGELOG.md
  finetuner/data.py
Labels: area/core, size/xs
