Repository jina-ai/finetuner, pull requests merged in 2022-08, with the labels that each got.

#504 feat: add stream endpoint
  CHANGELOG.md
  docs/walkthrough/index.md
  docs/walkthrough/save-model.md
  finetuner/client/base.py
  finetuner/client/client.py
  finetuner/constants.py
  finetuner/exception.py
  finetuner/run.py
Labels: size/s, area/core, area/docs, area/client

#509 refactor: mark fit login required
  CHANGELOG.md
  finetuner/__init__.py
  finetuner/client/client.py
  requirements.txt
Labels: area/core, area/entrypoint, size/xs, area/setup, area/client

#517 feat: options for miner and optimizer
  CHANGELOG.md
  docs/walkthrough/run-job.md
  finetuner/__init__.py
  finetuner/constants.py
  finetuner/experiment.py
  finetuner/finetuner.py
  tests/unit/test_experiment.py
Labels: area/testing, size/s, area/core, area/entrypoint, area/docs

#518 docs: move install instructions
  CHANGELOG.md
  README.md
  docs/get-started/installation.md
  docs/index.md
  docs/walkthrough/index.md
Labels: size/s, area/docs

#519 fix: remove dot from names
  CHANGELOG.md
  finetuner/constants.py
  finetuner/hubble.py
  tests/unit/test_experiment.py
  tests/unit/test_hubble.py
Labels: area/testing, size/s, area/core

#520 chore: bump client to 0.5.2
  CHANGELOG.md
  setup.cfg
Labels: size/s
