Repository jina-ai/finetuner, pull requests merged in 2022-05, with the labels that each got.

#391 Create `Finetuner`, `Experiment` and `Run` classes
  .flake8
  finetuner/__init__.py
  finetuner/client/__init__.py
  finetuner/client/base.py
  finetuner/client/client.py
  finetuner/constants.py
  finetuner/experiment.py
  finetuner/finetuner.py
  finetuner/hubble.py
  finetuner/names.py
  finetuner/run.py
  requirements.txt
  setup.cfg
  tests/integration/conftest.py
  tests/unit/conftest.py
  tests/unit/test_hubble.py
  tests/unit/test_runs.py
Labels: area/testing, area/core, area/entrypoint, size/xl, area/setup

#394 feat: implement basic error handling
  CHANGELOG.md
  finetuner/client/base.py
  finetuner/client/exception.py
  finetuner/run.py
Labels: size/s, area/core

#396 test: improve unit testing
  CHANGELOG.md
  finetuner/experiment.py
  finetuner/finetuner.py
  finetuner/run.py
  tests/constants.py
  tests/unit/conftest.py
  tests/unit/mocks.py
  tests/unit/test_client.py
  tests/unit/test_experiment.py
  tests/unit/test_experiments.py
  tests/unit/test_finetuner.py
  tests/unit/test_hubble.py
  tests/unit/test_run.py
  tests/unit/test_runs.py
Labels: area/testing, area/core, size/l

#399 chore: upgrade black to 22.3.0
  .github/requirements-test.txt
  .pre-commit-config.yaml
  finetuner/tuner/keras/losses.py
  finetuner/tuner/paddle/losses.py
Labels: size/s, area/housekeeping, area/core, component/tuner

#398 fix: resolve CI tests
  .github/workflows/ci.yml
  CHANGELOG.md
  finetuner/__init__.py
  finetuner/client/client.py
  finetuner/constants.py
  finetuner/experiment.py
  finetuner/finetuner.py
  tests/integration/conftest.py
  tests/integration/test_experiments.py
  tests/integration/test_runs.py
  tests/unit/mocks.py
  tests/unit/test_client.py
  tests/unit/test_experiment.py
Labels: area/testing, area/housekeeping, area/cicd, size/m, area/core, area/entrypoint

#382 docs(tuner): fix typo
  docs/components/tuner/loss.md
Labels: size/xs, area/docs

#400 feat: add run logs and adapt get status
  CHANGELOG.md
  finetuner/client/base.py
  finetuner/client/client.py
  finetuner/constants.py
  finetuner/run.py
  requirements.txt
  tests/unit/mocks.py
  tests/unit/test_client.py
  tests/unit/test_experiment.py
  tests/unit/test_finetuner.py
  tests/unit/test_run.py
Labels: area/testing, size/s, area/core, area/setup

#401 fix: `download_artifact` throws error
  CHANGELOG.md
  finetuner/hubble.py
  tests/integration/conftest.py
  tests/integration/test_runs.py
Labels: area/testing, size/s, area/core

#402 feat: add experiment-related methods to finetuner
  CHANGELOG.md
  finetuner/__init__.py
  finetuner/finetuner.py
  tests/integration/test_experiments.py
  tests/integration/test_runs.py
Labels: area/testing, size/s, area/core, area/entrypoint

#403 Build prepare client release
  .github/labeler.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  CHANGELOG.md
  CONTRIBUTING.md
  LICENSE
  Makefile
  finetuner/__init__.py
  pyproject.toml
  requirements.txt
  setup.py
Labels: area/housekeeping, area/cicd, size/m, area/core, area/entrypoint, area/setup

#410 feat: add default values for finetuner host and hubble registry
  CHANGELOG.md
  finetuner/__init__.py
  finetuner/constants.py
Labels: size/s, area/core, area/entrypoint

#411 feat: expose arguments `cpu`, `num_workers` and `queue` in `finetuner.fit`
  CHANGELOG.md
  finetuner/__init__.py
  finetuner/client/client.py
  finetuner/constants.py
  finetuner/experiment.py
  requirements.txt
  tests/unit/test_client.py
Labels: area/testing, size/s, area/core, area/entrypoint, area/setup, area/client
