Repository jina-ai/finetuner, pull requests merged in 2022-01, with the labels that each got.

#310 fix(docs): fix bottom github link
  docs/_templates/page.html
Labels: size/xs, area/docs

#312 docs: add checkpoints to documentation
  docs/components/tuner.md
  docs/components/tuner/callbacks.md
Labels: size/s, area/docs

#317 chore: remove doc building from CD
  .github/workflows/cd.yml
Labels: size/s, area/housekeeping, area/cicd

#320 feat: add unlabeled data classes
  docs/basics/data-format.md
  docs/basics/datasets/instance-dataset.md
  finetuner/tuner/dataset/__init__.py
  finetuner/tuner/dataset/base.py
  finetuner/tuner/dataset/datasets.py
  finetuner/tuner/dataset/samplers.py
  tests/unit/tuner/dataset/test_instance_dataset.py
  tests/unit/tuner/dataset/test_instance_sampler.py
Labels: area/testing, size/m, area/core, component/tuner, area/docs

#284 feat: evaluator integration
  docs/basics/data-format.md
  docs/components/tuner.md
  docs/components/tuner/callbacks.md
  docs/components/tuner/evaluation.md
  finetuner/labeler/__init__.py
  finetuner/tailor/__init__.py
  finetuner/tuner/__init__.py
  finetuner/tuner/base.py
  finetuner/tuner/callback/__init__.py
  finetuner/tuner/callback/base.py
  finetuner/tuner/callback/best_model_checkpoint.py
  finetuner/tuner/callback/early_stopping.py
  finetuner/tuner/callback/evaluation.py
  finetuner/tuner/callback/progress_bar.py
  finetuner/tuner/callback/training_checkpoint.py
  finetuner/tuner/callback/wandb_logger.py
  finetuner/tuner/dataset/helper.py
  finetuner/tuner/evaluation.py
  finetuner/tuner/keras/__init__.py
  finetuner/tuner/keras/losses.py
  finetuner/tuner/miner/mining_strategies.py
  finetuner/tuner/paddle/__init__.py
  finetuner/tuner/paddle/losses.py
  finetuner/tuner/pytorch/__init__.py
  finetuner/tuner/pytorch/losses.py
  finetuner/tuner/state.py
  tests/integration/conftest.py
  tests/integration/keras/test_callback.py
  tests/integration/keras/test_model_checkpoint.py
  tests/integration/paddle/test_callback.py
  tests/integration/paddle/test_model_checkpoint.py
  tests/integration/test_fit.py
  tests/integration/test_model_checkpoint.py
  tests/integration/torch/test_callback.py
  tests/integration/torch/test_model_checkpoint.py
  tests/unit/tuner/callback/test_early_stopping.py
  tests/unit/tuner/callback/test_evaluation.py
  tests/unit/tuner/callback/test_wandb.py
  tests/unit/tuner/dataset/test_helper.py
  tests/unit/tuner/keras/test_model_checkpoint.py
  tests/unit/tuner/paddle/test_model_checkpoint.py
  tests/unit/tuner/pytorch/test_model_checkpoint.py
  tests/unit/tuner/test_evaluation.py
Labels: type/feature-request, priority/important-soon, area/testing, area/tuner, area/core, component/tuner, component/labeler, component/tailor, size/xl, area/docs

#324 fix: remove double freeze from tutorial
  docs/get-started/celeba.md
Labels: size/xs, area/docs

#331 feat: add default preprocess fn for ssl
  .github/requirements-cicd.txt
  finetuner/tuner/augmentation.py
  tests/unit/tuner/resources/lena.png
  tests/unit/tuner/test_augmentation.py
Labels: area/testing, size/s, area/housekeeping, area/core, component/tuner

#316 feat(tuner): add default projection head for ssl
  finetuner/__init__.py
  finetuner/excepts.py
  finetuner/tailor/__init__.py
  finetuner/tailor/base.py
  finetuner/tailor/keras/__init__.py
  finetuner/tailor/keras/projection_head.py
  finetuner/tailor/paddle/__init__.py
  finetuner/tailor/paddle/projection_head.py
  finetuner/tailor/pytorch/__init__.py
  finetuner/tailor/pytorch/projection_head.py
  finetuner/tuner/keras/__init__.py
  finetuner/tuner/paddle/__init__.py
  finetuner/tuner/pytorch/__init__.py
  tests/unit/conftest.py
  tests/unit/tailor/keras/__init__.py
  tests/unit/tailor/keras/test_keras.py
  tests/unit/tailor/keras/test_projection_head.py
  tests/unit/tailor/paddle/__init__.py
  tests/unit/tailor/paddle/test_paddle.py
  tests/unit/tailor/paddle/test_projection_head.py
  tests/unit/tailor/pytorch/__init__.py
  tests/unit/tailor/pytorch/test_projection_head.py
  tests/unit/tailor/pytorch/test_pytorch.py
  tests/unit/tailor/test_keras.py
  tests/unit/tailor/test_paddle.py
  tests/unit/tailor/test_torch.py
Labels: area/testing, area/core, area/entrypoint, component/tuner, component/misc, component/tailor, size/xl

#326 feat: add NTXent loss
  docs/components/tuner/loss.md
  finetuner/tuner/dataset/samplers.py
  finetuner/tuner/keras/losses.py
  finetuner/tuner/paddle/losses.py
  finetuner/tuner/pytorch/losses.py
  tests/unit/tuner/conftest.py
  tests/unit/tuner/dataset/test_instance_sampler.py
  tests/unit/tuner/keras/test_loss.py
  tests/unit/tuner/paddle/test_loss.py
  tests/unit/tuner/pytorch/test_loss.py
Labels: area/testing, size/m, area/core, component/tuner, area/docs

#308 feat(tuner): onnx model dump load 280
  .github/requirements-cicd-gpu.txt
  .github/requirements-cicd.txt
  finetuner/tuner/onnx.py
  tests/unit/tuner/test_onnx.py
Labels: area/testing, area/housekeeping, area/core, component/tuner, size/l

#336 feat: self supervised learning integration
  finetuner/tuner/augmentation.py
  finetuner/tuner/base.py
  finetuner/tuner/paddle/__init__.py
  finetuner/tuner/paddle/datasets.py
  finetuner/tuner/pytorch/__init__.py
  finetuner/tuner/pytorch/datasets.py
  tests/integration/conftest.py
  tests/integration/keras/test_self_supervised_learner.py
  tests/integration/paddle/test_self_supervised_learner.py
  tests/integration/torch/test_self_supervised_learner.py
  tests/unit/tuner/test_augmentation.py
Labels: area/testing, size/m, area/core, component/tuner

#330 docs: bump qabot
  docs/conf.py
Labels: size/xs, area/docs

#340 fix: add normalization to preprocessor
  finetuner/tailor/keras/projection_head.py
  finetuner/tailor/paddle/projection_head.py
  finetuner/tailor/pytorch/projection_head.py
  finetuner/tuner/augmentation.py
  tests/unit/tuner/test_augmentation.py
Labels: area/testing, size/s, area/core, component/tuner, component/tailor

#341 docs: replace sort with sorted
  docs/get-started/totally-looks-like/index.md
Labels: size/xs, area/docs

#342 fix: do not normalize float images
  finetuner/tailor/pytorch/__init__.py
  finetuner/tuner/augmentation.py
  tests/unit/tailor/test_display.py
  tests/unit/tuner/test_augmentation.py
Labels: area/testing, size/m, area/core, component/tuner, component/tailor

#354 Use module level collate all function in PyTorch tuner
  finetuner/tuner/pytorch/__init__.py
Labels: type/bug, area/tuner, size/s, area/core, component/tuner

#355 docs: clean up docs
  docs/basics/data-format.md
  docs/basics/datasets/unlabeled-dataset.md
  docs/basics/glossary.md
  docs/components/bad-config.png
  docs/components/control-advanced.png
  docs/components/control-progress.png
  docs/components/control-view.png
  docs/components/index.md
  docs/components/labeler-case1.svg
  docs/components/labeler-case2.svg
  docs/components/labeler-img.png
  docs/components/labeler-question-text.gif
  docs/components/labeler-question.gif
  docs/components/labeler-text.png
  docs/components/labeler.md
  docs/components/overview.md
  docs/get-started/covid-labeler.gif
  docs/get-started/covid-qa.md
  docs/get-started/swiss-roll/index.md
  docs/get-started/totally-looks-like/index.md
  docs/img/labeler-on-fashion-mnist.gif
  docs/index.md
Labels: size/m, area/docs

#345 docs: 3d mesh finetuning tutorial
  docs/get-started/3d-mesh/airplane.gif
  docs/get-started/3d-mesh/dresser_finetuned.gif
  docs/get-started/3d-mesh/dresser_oob.gif
  docs/get-started/3d-mesh/dresser_query.gif
  docs/get-started/3d-mesh/index.md
  docs/get-started/3d-mesh/lap.gif
  docs/get-started/3d-mesh/radio_finetuned.gif
  docs/get-started/3d-mesh/radio_oob.gif
  docs/get-started/3d-mesh/radio_query.gif
  docs/index.md
Labels: size/m, area/docs

#359 docs: clean up readme and ndcg
  README.md
  docs/get-started/3d-mesh/index.md
Labels: size/s, area/docs

#360 chore: bump version
  finetuner/__init__.py
Labels: area/core, area/entrypoint, component/misc, size/xs
