Repository jina-ai/finetuner, pull requests merged in 2022-07, with the labels that each got.

#467 docs: add jina integration section
  CHANGELOG.md
  docs/tasks/image-to-image.md
  docs/tasks/text-to-image.md
  docs/tasks/text-to-text.md
  docs/walkthrough/index.md
  docs/walkthrough/integrate-with-jina.md
Labels: size/s, area/docs

#482 docs: fix installation format
  .github/workflows/ci.yml
  CHANGELOG.md
  docs/walkthrough/install.md
Labels: size/s, area/housekeeping, area/cicd, area/docs

#481 feat(docs): add qabot to docs website
  docs/_templates/page.html
  docs/conf.py
Labels: size/s, area/docs

#483 refactor: show progress when save model
  CHANGELOG.md
  finetuner/hubble.py
  requirements.txt
Labels: size/s, area/core, area/setup

#484 docs: replace content to uri if use image
  CHANGELOG.md
  docs/walkthrough/create-training-data.md
Labels: size/s, area/docs

#485 feat: add artifact id and token endpoint
  CHANGELOG.md
  finetuner/__init__.py
  finetuner/client/base.py
  finetuner/constants.py
  finetuner/exception.py
  finetuner/finetuner.py
  finetuner/hubble.py
  finetuner/run.py
  tests/integration/test_runs.py
Labels: area/testing, size/s, area/core, area/entrypoint, area/client

#491 docs: remove out-dated clip specific documentation
  CHANGELOG.md
  docs/walkthrough/run-job.md
Labels: size/s, area/docs

#488 chore: bump hubble python sdk to 81
  CHANGELOG.md
  requirements.txt
Labels: size/xs, area/setup

#493 chore: release 0.5.1
  CHANGELOG.md
  setup.cfg
Labels: size/s

#494 feat: add wandb callback arguments
  CHANGELOG.md
  finetuner/callback.py
Labels: size/s, area/core

#499 fix google analytics id for docs
  CHANGELOG.md
  docs/conf.py
  docs/requirements.txt
Labels: size/s, area/docs
