Repository jina-ai/finetuner, pull requests merged in 2022-12, with the labels that each got.

#625 docs: modify hints to use blobs instead of tensor
  CHANGELOG.md
  docs/notebooks/image_to_image.ipynb
  docs/notebooks/image_to_image.md
  docs/notebooks/text_to_image.ipynb
  docs/notebooks/text_to_image.md
Labels: size/s, area/docs

#628 ci: add remote-ci for core
  .github/workflows/remote-ci.yml
  CHANGELOG.md
Labels: area/housekeeping, area/cicd, size/m

#633 docs: copyedit readme
  README.md
Labels: size/s

#634 Revert "docs: copyedit readme"
  README.md
Labels: size/s

#635 chore: mod changelog
  CHANGELOG.md
  README.md
Labels: size/s

#637 refactor: adopt api changes
  CHANGELOG.md
  Makefile
  finetuner/__init__.py
  finetuner/client/client.py
  finetuner/experiment.py
  finetuner/finetuner.py
  tests/integration/test_experiments.py
  tests/unit/mocks.py
  tests/unit/test_finetuner.py
Labels: area/testing, size/m, area/core, area/entrypoint, area/client

#631 refactor: deprecate cpu
  CHANGELOG.md
  finetuner/__init__.py
  finetuner/constants.py
  finetuner/experiment.py
  finetuner/finetuner.py
  tests/unit/test_experiment.py
Labels: area/testing, size/s, area/core, area/entrypoint

#622 docs: add before and after to text-text
  CHANGELOG.md
  docs/notebooks/image_to_image.ipynb
  docs/notebooks/image_to_image.md
  docs/notebooks/images/clip-example-ft.png
  docs/notebooks/images/clip-example-pt.png
  docs/notebooks/images/image-image-triplets-bad.png
  docs/notebooks/images/image-image-triplets-good.png
  docs/notebooks/images/mclip-example-ft-1.png
  docs/notebooks/images/mclip-example-ft-2.png
  docs/notebooks/images/mclip-example-pt-1.png
  docs/notebooks/images/mclip-example-pt-2.png
  docs/notebooks/multilingual_text_to_image.ipynb
  docs/notebooks/multilingual_text_to_image.md
  docs/notebooks/text_to_image.ipynb
  docs/notebooks/text_to_image.md
  docs/notebooks/text_to_text.ipynb
  docs/notebooks/text_to_text.md
Labels: size/l, area/docs

#620 chore: add m-clip to readme
  CHANGELOG.md
  README.md
  docs/walkthrough/integrate-with-jina.md
Labels: size/s, area/docs

#638 feat: add csv parsing for meshes and tutorial
  CHANGELOG.md
  docs/index.md
  docs/notebooks/mesh_to_mesh.ipynb
  docs/notebooks/mesh_to_mesh.md
  docs/notebooks/multilingual_text_to_image.ipynb
  docs/notebooks/multilingual_text_to_image.md
  docs/walkthrough/choose-backbone.md
  docs/walkthrough/create-training-data.md
  finetuner/__init__.py
  finetuner/data.py
  setup.py
  tests/unit/resources/cube.off
  tests/unit/test_data.py
Labels: area/testing, area/core, area/entrypoint, size/l, area/docs, area/setup
