Repository jina-ai/finetuner, pull requests merged in 2022-09, with the labels that each got.

#524 docs: implement feedback
  CHANGELOG.md
  docs/index.md
  docs/walkthrough/basic-concepts.md
  docs/walkthrough/choose-backbone.md
  docs/walkthrough/create-training-data.md
  docs/walkthrough/integrate-with-jina.md
  docs/walkthrough/run-job.md
  docs/walkthrough/save-model.md
Labels: size/m, area/docs

#527 fix: create client automatically if user is logged in
  CHANGELOG.md
  finetuner/exception.py
  finetuner/finetuner.py
Labels: size/s, area/core

#522 refactor: user experience improvement after fine-tuning
  CHANGELOG.md
  Makefile
  finetuner/__init__.py
  finetuner/callback.py
  finetuner/model.py
  finetuner/models.py
  finetuner/run.py
  requirements-dev.txt
  requirements.txt
  setup.cfg
  setup.py
  tests/integration/test_runs.py
Labels: area/testing, area/core, area/entrypoint, size/l, area/setup

#528 refactor: adopt changes in open clip models
  CHANGELOG.md
  docs/walkthrough/choose-backbone.md
  finetuner/__init__.py
  finetuner/model.py
  setup.py
Labels: size/s, area/core, area/entrypoint, area/docs, area/setup

#529 docs: add inference section
  CHANGELOG.md
  docs/tasks/image-to-image.md
  docs/tasks/text-to-image.md
  docs/tasks/text-to-text.md
  tests/conftest.py
Labels: area/testing, size/s, area/docs

#526 docs: revise integration section and readme
  CHANGELOG.md
  README.md
  docs/get-started/installation.md
  docs/walkthrough/integrate-with-jina.md
  finetuner/finetuner.py
Labels: size/m, area/core, area/docs

#531 fix: log streaming and staging env
  CHANGELOG.md
  finetuner/run.py
  tests/conftest.py
Labels: area/testing, area/core, size/xs

#532 refactor: update readme and add connect function
  CHANGELOG.md
  README.md
  finetuner/__init__.py
Labels: size/s, area/core, area/entrypoint

#533 chore: prepare release 0.6.0
  CHANGELOG.md
  setup.cfg
  setup.py
Labels: size/s, area/setup

#534 docs: varies minor small improvements
  CHANGELOG.md
  README.md
  docs/get-started/design-principles.md
  docs/get-started/installation.md
  docs/tasks/image-to-image.md
  docs/tasks/text-to-image.md
  docs/tasks/text-to-text.md
  finetuner/run.py
Labels: size/s, area/core, area/docs

#543 docs: fix finetuner executor version
  CHANGELOG.md
  docs/walkthrough/integrate-with-jina.md
Labels: size/s, area/docs

#546 chore bump hubble client version
  CHANGELOG.md
  setup.py
Labels: size/xs, area/setup

#552 fix: redirect headers
  CHANGELOG.md
  finetuner/client/base.py
  finetuner/client/client.py
  finetuner/client/session.py
  finetuner/constants.py
  tests/conftest.py
Labels: area/testing, size/s, area/core, area/client

#553 Revert "Fix log messages"
  CHANGELOG.md
  finetuner/__init__.py
  finetuner/client/client.py
  finetuner/console.py
  finetuner/model.py
  finetuner/run.py
Labels: size/m, area/core, area/entrypoint, area/client

#554 chore: release `0.6.1`
  CHANGELOG.md
  setup.cfg
Labels: size/s

#556 docs: fix template
  .github/workflows/pr.yml
  CHANGELOG.md
  docs/_templates/page.html
  docs/tasks/text-to-text.md
  setup.py
Labels: size/s, area/housekeeping, area/cicd, area/docs, area/setup

#555 Fix log messages
  CHANGELOG.md
  finetuner/__init__.py
  finetuner/client/client.py
  finetuner/console.py
  finetuner/model.py
  finetuner/run.py
Labels: size/m, area/core, area/entrypoint, area/client

#561 ci: fix netlify
  .github/workflows/pr.yml
Labels: area/housekeeping, area/cicd, size/xs

#560 feat: add torch inference
  CHANGELOG.md
  docs/tasks/image-to-image.md
  docs/tasks/text-to-image.md
  docs/tasks/text-to-text.md
  docs/walkthrough/integrate-with-jina.md
  docs/walkthrough/run-job.md
  finetuner/__init__.py
  finetuner/constants.py
  finetuner/experiment.py
  finetuner/finetuner.py
  setup.py
  tests/integration/test_runs.py
  tests/unit/test_experiment.py
Labels: area/testing, size/m, area/core, area/entrypoint, area/docs, area/setup
