Repository jina-ai/finetuner, pull requests merged in 2022-02, with the labels that each got.

#351 fix: shuffle batches
  finetuner/tuner/dataset/samplers.py
Labels: area/core, component/tuner, size/xs

#365 ci: fix gpu
  .github/workflows/ci.yml
Labels: area/housekeeping, area/cicd, size/xs

#364 docs: use new docsqa server address
  docs/conf.py
Labels: size/xs, area/docs

#366 fix: use small batch size by default
  docs/get-started/self-supervised/index.md
  finetuner/embedding.py
Labels: size/s, area/core, component/misc, area/docs

#369 Docs remove labeler refs 367
  .github/labeler.yml
  MANIFEST.in
  docs/components/finetuner-composition.svg
  docs/components/four-usecases.svg
  docs/components/overview.md
  docs/components/tuner.md
  docs/components/two-usecases.svg
Labels: area/housekeeping, size/m, area/docs, area/setup

#370 docs: typos
  docs/get-started/totally-looks-like/index.md
Labels: size/s, area/docs

#372 docs: fix code mesh tutorial
  docs/get-started/3d-mesh/index.md
Labels: size/xs, area/docs

#371 Refactor device module 368
  finetuner/device.py
  finetuner/embedding.py
  finetuner/excepts.py
  finetuner/tailor/__init__.py
  finetuner/tailor/base.py
  finetuner/tailor/keras/__init__.py
  finetuner/tailor/paddle/__init__.py
  finetuner/tailor/pytorch/__init__.py
  finetuner/tuner/keras/__init__.py
  finetuner/tuner/paddle/__init__.py
  finetuner/tuner/pytorch/__init__.py
  tests/unit/tailor/paddle/test_paddle.py
  tests/unit/tailor/pytorch/test_pytorch.py
Labels: area/testing, size/m, area/core, component/tuner, component/misc, component/tailor

#375 docs: fix models import
  docs/get-started/3d-mesh/index.md
Labels: size/xs, area/docs

#374 fix: progress bar in notebook
  finetuner/tuner/callback/progress_bar.py
Labels: size/s, area/core, component/tuner

#376 fix: docsqa to new url
  docs/conf.py
Labels: size/xs, area/docs

#377 docs: update qa-bot to v0.4
  docs/_templates/page.html
  docs/conf.py
Labels: size/s, area/docs

#378 fix: fix the docarray version to pass unit tests
  setup.py
Labels: size/xs, area/setup
