Repository jina-ai/finetuner, pull requests merged in 2022-06, with the labels that each got.

#412 docs: how it works
  CHANGELOG.md
  docs/1_how_it_works/1_1_how_it_works.md
  docs/1_how_it_works/1_2_difference.md
  docs/1_how_it_works/index.md
  docs/2_step_by_step/2_1_install.md
  docs/2_step_by_step/2_2_experiment_and_run.md
  docs/2_step_by_step/2_3_login_to_jina_ecosystem.md
  docs/2_step_by_step/2_4_create_training_data.md
  docs/2_step_by_step/2_5_choose_back_bone.md
  docs/2_step_by_step/2_6_start_finetune.md
  docs/2_step_by_step/2_7_get_tuned_model.md
  docs/2_step_by_step/2_8_next_steps.md
  docs/2_step_by_step/index.md
  docs/3_finetuner_in_action/3_1_text_to_text.md
  docs/3_finetuner_in_action/3_2_image_to_image.md
  docs/3_finetuner_in_action/3_3_text_to_image_using_clip.md
  docs/3_finetuner_in_action/index.md
  docs/Makefile
  docs/index.md
  docs/make.bat
Labels: size/m, area/docs

#415 feat: support callbacks
  CHANGELOG.md
  finetuner/__init__.py
  finetuner/callbacks.py
  finetuner/constants.py
  finetuner/experiment.py
  tests/unit/test_experiment.py
Labels: area/testing, size/m, area/core, area/entrypoint

#416 docs: step by step - part 1
  CHANGELOG.md
  docs/2_step_by_step/2_2_experiment_and_run.md
  docs/2_step_by_step/2_3_login_to_jina_ecosystem.md
  docs/2_step_by_step/2_4_create_training_data.md
Labels: size/m, area/docs

#419 refactor: explain list models
  CHANGELOG.md
  finetuner/__init__.py
  requirements.txt
Labels: size/s, area/core, area/entrypoint, area/setup

#425 feat: expose run methods
  CHANGELOG.md
  finetuner/__init__.py
  finetuner/finetuner.py
Labels: size/m, area/core, area/entrypoint

#422 feat: support EvaluationCallback
  CHANGELOG.md
  finetuner/callbacks.py
  finetuner/constants.py
  finetuner/experiment.py
  finetuner/hubble.py
  requirements.txt
  tests/unit/test_experiment.py
  tests/unit/test_hubble.py
Labels: area/testing, size/m, area/core, area/setup

#423 docs: misc
  .github/workflows/force-docs-build.yml
  CHANGELOG.md
  docs/1_how_it_works/1_1_how_it_works.md
  docs/1_how_it_works/1_2_difference.md
  docs/2_step_by_step/2_1_install.md
  docs/2_step_by_step/2_2_experiment_and_run.md
  docs/2_step_by_step/2_4_create_training_data.md
  docs/2_step_by_step/2_6_start_finetune.md
  docs/2_step_by_step/2_7_get_tuned_model.md
  docs/2_step_by_step/index.md
  docs/3_finetuner_in_action/3_1_text_to_text.md
  docs/3_finetuner_in_action/3_2_image_to_image.md
  docs/3_finetuner_in_action/3_3_text_to_image_using_clip.md
  docs/3_finetuner_in_action/index.md
  docs/_static/JCloud-dark.svg
  docs/_static/JCloud-light.svg
  docs/_static/Powered-by-Jina-Large-Basic.svg
  docs/_static/banner.png
  docs/_static/cas-dark.svg
  docs/_static/cas-light.svg
  docs/_static/docarray-dark.svg
  docs/_static/docarray-light.svg
  docs/_static/docbot.css
  docs/_static/favicon.ico
  docs/_static/favicon.png
  docs/_static/hub-dark.svg
  docs/_static/hub-light.svg
  docs/_static/main.css
  docs/_static/now-dark.svg
  docs/_static/now-light.svg
  docs/_static/search-dark.svg
  docs/_static/search-light.svg
  docs/_templates/sidebar/brand.html
  docs/_templates/sidebar/navigation.html
  docs/conf.py
  docs/html_extra/robots.txt
  docs/index.md
  setup.py
Labels: area/housekeeping, area/cicd, size/l, area/docs, area/setup

#431 chore: set `protobuf` version to `3.20.1`
  .github/workflows/ci.yml
  setup.py
Labels: area/housekeeping, area/cicd, size/xs, area/setup

#428 feat: add support for MLP model
  CHANGELOG.md
  docs/1_how_it_works/1_2_difference.md
  docs/2_step_by_step/2_5_choose_back_bone.md
  docs/2_step_by_step/2_6_start_finetune.md
  docs/index.md
  finetuner/__init__.py
  finetuner/callback.py
  finetuner/constants.py
  finetuner/experiment.py
  finetuner/hubble.py
  finetuner/models.py
  requirements.txt
  tests/unit/mocks.py
  tests/unit/test_experiment.py
Labels: area/testing, size/m, area/core, area/entrypoint, area/docs, area/setup

#432 fix: save clip models
  CHANGELOG.md
  finetuner/hubble.py
Labels: area/core, size/xs

#437 docs: add guide template
  docs/_templates/template_ft_in_action.md
Labels: size/s, area/docs

#433 docs: add clip guide
  CHANGELOG.md
  docs/3_finetuner_in_action/3_3_text_to_image_using_clip.md
Labels: size/m, area/docs

#430 docs: add image-to-image example
  CHANGELOG.md
  docs/2_step_by_step/2_7_get_tuned_model.md
  docs/3_finetuner_in_action/3_2_image_to_image.md
  docs/_static/ttl_overview.png
  docs/index.md
  finetuner/constants.py
  finetuner/hubble.py
  finetuner/run.py
Labels: size/m, area/core, area/docs

#426 docs: text to text with Bert
  CHANGELOG.md
  docs/3_finetuner_in_action/3_1_text_to_text.md
Labels: size/m, area/docs

#438 chore: release 0.2.0
  CHANGELOG.md
  finetuner/__init__.py
Labels: size/s, area/core, area/entrypoint

#439 docs: fix links and references
  CHANGELOG.md
  docs/2_step_by_step/2_1_install.md
  docs/2_step_by_step/2_2_experiment_and_run.md
  docs/2_step_by_step/2_3_login_to_jina_ecosystem.md
  docs/2_step_by_step/2_4_create_training_data.md
  docs/2_step_by_step/2_5_choose_back_bone.md
  docs/2_step_by_step/2_6_start_finetune.md
  docs/2_step_by_step/2_7_get_tuned_model.md
  docs/2_step_by_step/2_8_next_steps.md
  docs/3_finetuner_in_action/3_1_text_to_text.md
  docs/3_finetuner_in_action/3_2_image_to_image.md
  docs/3_finetuner_in_action/3_3_text_to_image.md
  docs/3_finetuner_in_action/index.md
  docs/_static/ttl_overview.png
  finetuner/client/base.py
Labels: size/s, area/core, area/docs, area/client

#444 refactor: remove path and dotenv
  CHANGELOG.md
  finetuner/__init__.py
  finetuner/client/base.py
  finetuner/client/client.py
  requirements.txt
  tests/integration/conftest.py
  tests/unit/mocks.py
  tests/unit/test_client.py
Labels: area/testing, size/m, area/core, area/entrypoint, area/setup, area/client

#447 refactor: use prod environment by default
  CHANGELOG.md
  finetuner/constants.py
  tests/conftest.py
Labels: area/testing, size/s, area/core

#448 chore: update readme
  CHANGELOG.md
  README.md
  docs/_static/finetuner-client-journey.svg
  finetuner/__init__.py
Labels: size/m, area/core, area/entrypoint, area/docs

#450 chore: 0.2.2 release
  CHANGELOG.md
  docs/2_step_by_step/2_1_install.md
  finetuner/__init__.py
Labels: size/s, area/core, area/entrypoint, area/docs

#458 docs: refactor image to image example
  CHANGELOG.md
  docs/3_finetuner_in_action/3_2_image_to_image.md
Labels: size/s, area/docs

#459 docs: refactor text to image example
  CHANGELOG.md
  docs/3_finetuner_in_action/3_3_text_to_image.md
Labels: size/s, area/docs

#460 docs: general update of documentation
  CHANGELOG.md
  docs/1_how_it_works/1_1_how_it_works.md
  docs/1_how_it_works/1_2_difference.md
  docs/1_how_it_works/index.md
  docs/2_step_by_step/2_2_experiment_and_run.md
  docs/2_step_by_step/2_3_login_to_jina_ecosystem.md
  docs/2_step_by_step/2_4_create_training_data.md
  docs/2_step_by_step/2_5_choose_backbone.md
  docs/2_step_by_step/2_6_start_finetune.md
  docs/2_step_by_step/index.md
  docs/3_finetuner_in_action/index.md
  docs/3_how_to/3_1_text_to_text.md
  docs/3_how_to/3_2_image_to_image.md
  docs/3_how_to/3_3_text_to_image.md
  docs/_templates/sidebar/navigation.html
  docs/conf.py
  docs/index.md
Labels: size/m, area/docs

#465 refactor: reset default params and docstring format
  CHANGELOG.md
  finetuner/__init__.py
Labels: size/s, area/core, area/entrypoint

#468 chore: remove time column from table
  CHANGELOG.md
  README.md
Labels: size/xs

#473 docs: update clip example in readme and docs
  README.md
  docs/tasks/text-to-image.md
Labels: size/s, area/docs

#472 ci: add back cd
  .github/workflows/cd.yml
  .github/workflows/force-docs-build.yml
  .releaserc.json
  CHANGELOG.md
  docs/conf.py
  docs/tasks/text-to-image.md
  docs/walkthrough/install.md
  finetuner/__init__.py
  setup.cfg
  setup.py
Labels: area/housekeeping, area/cicd, size/m, area/core, area/entrypoint, area/docs, area/setup

#475 fix: readme links
  CHANGELOG.md
  README.md
Labels: size/xs

#476 fix: minor fixes after 0.9 core release
  README.md
  docs/_templates/template_ft_in_action.md
  docs/index.md
  docs/tasks/image-to-image.md
  docs/tasks/text-to-image.md
  docs/tasks/text-to-text.md
  docs/walkthrough/save-model.md
  finetuner/__init__.py
  finetuner/callback.py
  finetuner/constants.py
  finetuner/experiment.py
  finetuner/finetuner.py
  finetuner/hubble.py
  finetuner/run.py
  tests/integration/conftest.py
  tests/integration/test_experiments.py
  tests/integration/test_runs.py
  tests/unit/test_experiment.py
Labels: area/testing, size/m, area/core, area/entrypoint, area/docs

#479 ci: add pypi username to cd
  .github/workflows/cd.yml
Labels: area/housekeeping, area/cicd, size/xs
