Repository jina-ai/finetuner, pull requests merged in 2022-10, with the labels that each got.

#568 ci: bump flake8
  .pre-commit-config.yaml
  CHANGELOG.md
  setup.py
Labels: size/xs, area/setup

#569 docs: update metric tables and hyperparameters for clip finetuning
  CHANGELOG.md
  README.md
  docs/tasks/text-to-image.md
Labels: size/s, area/docs

#567 docs: add callbacks documentation (#564)
  CHANGELOG.md
  docs/walkthrough/index.md
  docs/walkthrough/using-callbacks.md
Labels: size/m, area/docs

#571 docs: add wise-ft to clip finetuning
  CHANGELOG.md
  docs/tasks/text-to-image.md
  docs/walkthrough/using-callbacks.md
Labels: size/s, area/docs

#575 chore: release 0.6.3
  CHANGELOG.md
  docs/walkthrough/integrate-with-jina.md
  setup.cfg
  setup.py
Labels: size/s, area/docs, area/setup

#576 feat: adopt hubble sdk on notebook login
  CHANGELOG.md
  README.md
  docs/_templates/template_ft_in_action.md
  docs/get-started/how-it-works.md
  docs/tasks/image-to-image.md
  docs/tasks/text-to-image.md
  docs/tasks/text-to-text.md
  docs/walkthrough/index.md
  docs/walkthrough/integrate-with-jina.md
  docs/walkthrough/login.md
  docs/walkthrough/save-model.md
  finetuner/__init__.py
  finetuner/finetuner.py
  setup.py
  tests/integration/conftest.py
  tests/unit/mocks.py
Labels: area/testing, size/s, area/core, area/entrypoint, area/docs, area/setup

#577 refactor: unify cpu gpu into device
  CHANGELOG.md
  docs/tasks/image-to-image.md
  docs/tasks/text-to-image.md
  docs/tasks/text-to-text.md
  docs/walkthrough/run-job.md
  docs/walkthrough/using-callbacks.md
  finetuner/__init__.py
  finetuner/experiment.py
  finetuner/finetuner.py
  tests/unit/test_experiment.py
Labels: area/testing, size/s, area/core, area/entrypoint, area/docs

#581 feat: convert package to namespace package
  CHANGELOG.md
  Makefile
  finetuner/__init__.py
  setup.py
Labels: size/m, area/core, area/entrypoint, area/setup

#582 docs: unify everything to jina ai cloud
  CHANGELOG.md
  README.md
  docs/_templates/template_ft_in_action.md
  docs/tasks/image-to-image.md
  docs/tasks/text-to-image.md
  docs/tasks/text-to-text.md
  docs/walkthrough/index.md
  docs/walkthrough/integrate-with-jina.md
  docs/walkthrough/login.md
  docs/walkthrough/run-job.md
  docs/walkthrough/save-model.md
  docs/walkthrough/using-callbacks.md
Labels: size/s, area/docs

#580 docs: update names of open clip models
  CHANGELOG.md
  docs/walkthrough/choose-backbone.md
Labels: size/m, area/docs

#586 refactor: show progress while encoding
  CHANGELOG.md
  finetuner/__init__.py
  setup.py
Labels: size/s, area/core, area/entrypoint, area/setup

#587 docs: upgrade to new hub uri to cloud uri
  CHANGELOG.md
  docs/_templates/sidebar/navigation.html
  docs/walkthrough/integrate-with-jina.md
Labels: size/xs, area/docs

#589 fix: new commons and stubs structure
  CHANGELOG.md
  Makefile
  finetuner/__init__.py
  finetuner/callback.py
  finetuner/client/base.py
  finetuner/excepts.py
  finetuner/model.py
  finetuner/run.py
  setup.py
  tests/integration/test_runs.py
Labels: area/testing, size/s, area/core, area/entrypoint, area/setup, area/client

#584 feat: add build_model function
  CHANGELOG.md
  finetuner/__init__.py
  tests/unit/test___init__.py
Labels: area/testing, size/m, area/core, area/entrypoint

#579 feat: validate run configs
  CHANGELOG.md
  finetuner/experiment.py
  tests/unit/test_experiment.py
Labels: area/testing, size/s, area/core
