Repository jina-ai/finetuner, pull requests merged in 2023-06, with the labels that each got.

#748 fix: create synthesis run should accept da as input
  CHANGELOG.md
  finetuner/experiment.py
Labels: size/s, area/core

#750 feat: add multilingual model
  CHANGELOG.md
  docs/notebooks/data_synthesis.ipynb
  docs/notebooks/data_synthesis.md
  docs/walkthrough/choose-backbone.md
  finetuner/__init__.py
  finetuner/experiment.py
  finetuner/finetuner.py
  finetuner/model.py
  setup.py
Labels: area/core, area/entrypoint, size/xl, area/docs, area/setup

#751 feat: support loading models from hf
  .github/workflows/ci.yml
  CHANGELOG.md
  finetuner/__init__.py
  finetuner/constants.py
  tests/integration/test_hf_models.py
Labels: area/testing, size/s, area/housekeeping, area/cicd, area/core, area/entrypoint

#752 chore: release 0.7.8
  CHANGELOG.md
  setup.cfg
Labels: size/s

#754 docs: loss
  CHANGELOG.md
  docs/concepts/loss-functions.md
Labels: size/m, area/docs
