Repository jina-ai/finetuner, pull requests merged in 2023-05, with the labels that each got.

#745 docs: add notebook for data generation
  CHANGELOG.md
  docs/index.md
  docs/notebooks/data_synthesis.ipynb
  docs/notebooks/data_synthesis.md
  finetuner/__init__.py
  finetuner/data.py
  finetuner/experiment.py
  finetuner/finetuner.py
  finetuner/model.py
  setup.py
  tests/integration/test_runs.py
  tests/unit/test_client.py
  tests/unit/test_experiment.py
  tests/unit/test_finetuner.py
Labels: area/testing, area/core, area/entrypoint, size/xl, area/docs, area/setup

#746 chore: release 077
  CHANGELOG.md
  setup.cfg
Labels: size/s

#747 chore: bump black, flake8, isort
  .pre-commit-config.yaml
  CHANGELOG.md
  finetuner/data.py
  setup.py
  tests/integration/test_data.py
  tests/integration/test_experiments.py
  tests/integration/test_runs.py
  tests/unit/test___init__.py
  tests/unit/test_data.py
Labels: area/testing, size/s, area/core, area/setup
