Repository jina-ai/finetuner, pull requests merged in 2023-04, with the labels that each got.

#706 refactor: do not download pre-trained weights when calling `get_model`
  CHANGELOG.md
  finetuner/__init__.py
  setup.py
Labels: size/s, area/core, area/entrypoint, area/setup

#704 chore: support python3.10
  .github/workflows/ci.yml
  CHANGELOG.md
  setup.py
Labels: size/s, area/housekeeping, area/cicd, area/setup

#708 feat: add error message when experiment is `None`
  CHANGELOG.md
  finetuner/finetuner.py
Labels: area/core, size/xs

#709 fix: reduce flakiness of tests
  CHANGELOG.md
  finetuner/client/base.py
  finetuner/client/client.py
Labels: size/s, area/core, area/client

#711 refactor: adjust schema based on job type
  CHANGELOG.md
  finetuner/__init__.py
  finetuner/experiment.py
  finetuner/model.py
  setup.py
  tests/unit/test_client.py
  tests/unit/test_experiment.py
Labels: area/testing, size/s, area/core, area/entrypoint, area/setup

#713 chore: release 075
  CHANGELOG.md
  setup.cfg
Labels: size/s

#719 fix: downgrade docarray
  .github/workflows/ci.yml
  CHANGELOG.md
  setup.cfg
  setup.py
Labels: size/s, area/housekeeping, area/cicd, area/setup

#725 docs: update page on available models
  docs/concepts/models.md
Labels: size/m, area/docs

#715 feat: support data generation
  CHANGELOG.md
  finetuner/__init__.py
  finetuner/client/client.py
  finetuner/constants.py
  finetuner/data.py
  finetuner/experiment.py
  finetuner/finetuner.py
  finetuner/hubble.py
  finetuner/model.py
  finetuner/run.py
  tests/integration/conftest.py
  tests/integration/test_data.py
  tests/integration/test_runs.py
  tests/unit/test_client.py
  tests/unit/test_data.py
  tests/unit/test_experiment.py
  tests/unit/test_finetuner.py
  tests/unit/test_hubble.py
Labels: area/testing, area/core, area/entrypoint, size/l, area/client

#737 docs: add login page
  CHANGELOG.md
  docs/concepts/login.md
  docs/imgs/namespace1.jpeg
  docs/imgs/namespace2.jpeg
Labels: size/s, area/docs

#739 docs: add page on hyper parameters
  CHANGELOG.md
  docs/Makefile
  docs/concepts/hyperparameters.md
  docs/concepts/synthesis-function.md
  docs/index.md
  docs/notebooks-md/getting_started.md
  docs/notebooks-md/image_to_image.md
  docs/notebooks-md/image_to_image_arcface.md
  docs/notebooks-md/mesh_to_mesh.md
  docs/notebooks-md/multilingual_text_to_image.md
  docs/notebooks-md/text_to_image.md
  docs/notebooks-md/text_to_text.md
Labels: size/xl, area/docs

#741 docs: managing runs
  CHANGELOG.md
  docs/concepts/manage-runs.md
Labels: size/m, area/docs

#738 docs: add callbacks
  CHANGELOG.md
  docs/concepts/callbacks.md
  docs/requirements.txt
Labels: size/m, area/docs
