Repository jina-ai/finetuner, pull requests merged in 2023-02, with the labels that each got.

#670 docs: correct code example for pooler options
  docs/advanced-topics/advanced-losses-optimizers-and-poolers.md
Labels: size/s, area/docs

#672 chore: bump hubble version
  CHANGELOG.md
  finetuner/client/client.py
  setup.py
  tests/conftest.py
  tests/unit/test_client.py
Labels: area/testing, size/s, area/core, area/setup, area/client

#674 chore: release 0.7.1
  CHANGELOG.md
  finetuner/constants.py
  setup.cfg
  setup.py
Labels: size/s, area/core, area/setup

#676 docs: remove section on GeM pooling
  CHANGELOG.md
  docs/advanced-topics/advanced-losses-and-optimizers.md
  docs/index.md
Labels: size/s, area/docs

#679 feat: add scheduler, and scheduler_options
  CHANGELOG.md
  docs/walkthrough/run-job.md
  finetuner/__init__.py
  finetuner/constants.py
  finetuner/experiment.py
  finetuner/finetuner.py
  setup.py
  tests/unit/test_experiment.py
Labels: area/testing, size/s, area/core, area/entrypoint, area/docs, area/setup
