Repository jina-ai/finetuner, pull requests merged in 2023-01, with the labels that each got.

#649 docs: add namespace to artifact names
  CHANGELOG.md
  README.md
  docs/notebooks/image_to_image.ipynb
  docs/notebooks/image_to_image.md
  docs/notebooks/mesh_to_mesh.ipynb
  docs/notebooks/mesh_to_mesh.md
  docs/notebooks/multilingual_text_to_image.ipynb
  docs/notebooks/multilingual_text_to_image.md
  docs/notebooks/text_to_image.ipynb
  docs/notebooks/text_to_image.md
  docs/notebooks/text_to_text.ipynb
  docs/notebooks/text_to_text.md
  docs/walkthrough/using-callbacks.md
Labels: size/xl, area/docs

#653 chore: bump commons and stubs version
  .github/workflows/ci.yml
  CHANGELOG.md
  Makefile
  README.md
  docs/get-started/installation.md
  finetuner/constants.py
  setup.py
  tests/unit/test_experiment.py
Labels: area/testing, size/s, area/housekeeping, area/cicd, area/core, area/docs, area/setup

#654 chore: release `0.7.0`
  CHANGELOG.md
  setup.cfg
Labels: size/s

#655 docs: escape comma
  CHANGELOG.md
  docs/walkthrough/create-training-data.md
Labels: size/xs, area/docs

#657 chore: bump commons and stubs
  CHANGELOG.md
  setup.py
  tests/unit/test_experiment.py
Labels: area/testing, size/s, area/setup

#658 chore: update date in changelog
  CHANGELOG.md
Labels: size/xs

#661 docs: fix typo to broken link
  docs/notebooks/mesh_to_mesh.md
Labels: size/xs, area/docs

#662 docs: remove rn backbones add effnetb7
  CHANGELOG.md
  docs/walkthrough/choose-backbone.md
Labels: size/s, area/docs

#663 chore: add example CSV files
  CHANGELOG.md
  datasets/credit.txt
  datasets/image-text_or_image_example.csv
  datasets/text-text_example.csv
Labels: size/xl

#666 docs: fix typos etc
  CHANGELOG.md
  README.md
  docs/advanced-topics/linear-probe.md
  docs/advanced-topics/negative-mining.md
  docs/advanced-topics/using-callbacks.md
  docs/get-started/how-it-works.md
  docs/notebooks/image_to_image.ipynb
  docs/notebooks/image_to_image.md
  docs/notebooks/mesh_to_mesh.ipynb
  docs/notebooks/mesh_to_mesh.md
  docs/notebooks/multilingual_text_to_image.ipynb
  docs/notebooks/multilingual_text_to_image.md
  docs/notebooks/text_to_image.ipynb
  docs/notebooks/text_to_image.md
  docs/notebooks/text_to_text.ipynb
  docs/notebooks/text_to_text.md
  docs/walkthrough/choose-backbone.md
  docs/walkthrough/create-training-data.md
  docs/walkthrough/index.md
  docs/walkthrough/inference.md
  docs/walkthrough/login.md
  docs/walkthrough/run-job.md
  docs/walkthrough/save-model.md
Labels: size/l, area/docs

#667 fix: add working example CSV for image-image
  CHANGELOG.md
  datasets/credit.txt
  datasets/image-image_example.csv
  datasets/text-image_example.csv
Labels: size/xl

#669 docs: add section about articles about finetuner
  CHANGELOG.md
  README.md
  docs/index.md
Labels: size/s, area/docs

#640 ci: authenticate repo-dispatch
  .github/workflows/remote-ci.yml
  CHANGELOG.md
Labels: size/s, area/housekeeping, area/cicd

#642 CI: communicate status of core-ci with core
  .github/workflows/remote-ci.yml
  CHANGELOG.md
Labels: size/s, area/housekeeping, area/cicd

#664 feat: integrate new loss and pooling options
  CHANGELOG.md
  docs/advanced-topics/advanced-losses-optimizers-and-poolers.md
  docs/imgs/SphereFace-training.png
  docs/imgs/distributions-loss.png
  docs/index.md
  finetuner/__init__.py
  finetuner/constants.py
  finetuner/experiment.py
  finetuner/finetuner.py
  setup.py
  tests/unit/test_experiment.py
Labels: area/testing, size/m, area/core, area/entrypoint, area/docs, area/setup

#668 Feat support continue training
  CHANGELOG.md
  docs/walkthrough/run-job.md
  finetuner/__init__.py
  finetuner/constants.py
  finetuner/experiment.py
  finetuner/finetuner.py
  setup.py
  tests/unit/test_experiment.py
Labels: area/testing, size/s, area/core, area/entrypoint, area/docs, area/setup
