Repository jina-ai/finetuner, pull requests merged in 2023-03, with the labels that each got.

#678 feat: improve parsing of unlabeled CSVs
  CHANGELOG.md
  docs/walkthrough/create-training-data.md
  finetuner/data.py
Labels: size/m, area/core, area/docs

#684 docs: Add documentation for GeM pooling
  CHANGELOG.md
  docs/advanced-topics/advanced-losses-optimizers-and-poolers.md
  docs/index.md
Labels: size/s, area/docs

#685 chore: release 072
  CHANGELOG.md
  setup.cfg
  setup.py
Labels: size/s, area/setup

#687 feat: implement funtions to retrieve metrics and examples
  CHANGELOG.md
  docs/advanced-topics/using-callbacks.md
  finetuner/client/client.py
  finetuner/console.py
  finetuner/constants.py
  finetuner/run.py
  tests/unit/test_client.py
Labels: area/testing, size/m, area/core, area/docs, area/client

#691 feat: add support for batch size scaling
  CHANGELOG.md
  docs/walkthrough/run-job.md
  finetuner/__init__.py
  finetuner/finetuner.py
Labels: size/s, area/core, area/entrypoint, area/docs

#693 chore: update stubs and commons
  CHANGELOG.md
  finetuner/constants.py
  setup.cfg
  setup.py
  tests/unit/test_experiment.py
Labels: area/testing, size/s, area/core, area/setup

#697 docs: add optimizer and query document score
  CHANGELOG.md
  docs/advanced-topics/advanced-losses-optimizers-and-poolers.md
  docs/walkthrough/create-training-data.md
  docs/walkthrough/run-job.md
Labels: size/s, area/docs

#698 docs: remove line about free infrastructure
  README.md
Labels: size/xs

#700 refactor: unify model names
  CHANGELOG.md
  docs/notebooks/image_to_image.ipynb
  docs/notebooks/image_to_image.md
  docs/notebooks/image_to_image_arcface.ipynb
  docs/notebooks/image_to_image_arcface.md
  docs/notebooks/mesh_to_mesh.ipynb
  docs/notebooks/mesh_to_mesh.md
  docs/notebooks/multilingual_text_to_image.ipynb
  docs/notebooks/multilingual_text_to_image.md
  docs/notebooks/text_to_image.ipynb
  docs/notebooks/text_to_image.md
  docs/notebooks/text_to_text.ipynb
  docs/notebooks/text_to_text.md
  docs/walkthrough/choose-backbone.md
  finetuner/console.py
  finetuner/model.py
  setup.py
  tests/integration/test_data.py
  tests/unit/test___init__.py
  tests/unit/test_data.py
Labels: area/testing, size/m, area/core, area/docs, area/setup

#703 docs: add finetuner plus logos
  docs/_static/finetuner+_dark.svg
  docs/_static/finetuner+_light.svg
Labels: size/s, area/docs
